{% extends 'core/base_game_index.html' %}
{% load core_extras %}

{% load static %}

{% block extra_head %}
    <script src="{% static 'js/collapsible_next.js' %}"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="{% static 'iteprisonergame/css/style.css' %}">
{% endblock %}


{% block game_rule_content %}
    <section>
        <h2>Rules of the Game</h2>
        <p>
            This is the main page for the game <em>{{ game.name }}</em>. In this game, you will play several times the
            Prisoner's Dilemma and you are asked to submit your strategy for this repeated form of the game.
        </p>

        <p>
            The payoff matrix we are using for each individual instance of the Prisoner's Dilemma is the following:
        </p>

        <table class="center-margin payoff-matrix">
            <tbody>
                <tr>
                    <td></td>
                    <td class="payoff-player-header payoff-player-2">Cooperate</td>
                    <td class="payoff-player-header payoff-player-2">Defect</td>
                </tr>
                <tr>
                    <td class="payoff-player-header payoff-player-1">Cooperate</td>
                    <td><span class="payoff-player-1">{{ game.itepris_setting.payoff_medium|float_formatter:4 }}</span>, <span class="payoff-player-2">{{ game.itepris_setting.payoff_medium|float_formatter:4 }}</span></td>
                    <td><span class="payoff-player-1">{{ game.itepris_setting.payoff_tiny|float_formatter:4 }}</span>, <span class="payoff-player-2">{{ game.itepris_setting.payoff_high|float_formatter:4 }}</span></td>
                </tr>
                <tr>
                    <td class="payoff-player-header payoff-player-1">Defect</td>
                    <td><span class="payoff-player-1">{{ game.itepris_setting.payoff_high|float_formatter:4 }}</span>, <span class="payoff-player-2">{{ game.itepris_setting.payoff_tiny|float_formatter:4 }}</span></td>
                    <td><span class="payoff-player-1">{{ game.itepris_setting.payoff_low|float_formatter:4 }}</span>, <span class="payoff-player-2">{{ game.itepris_setting.payoff_low|float_formatter:4 }}</span></td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}

{% block game_answer_content %}
<section>
    <h2>Your strategy</h2>
    <p>
        An answer is already linked to your account. You cannot play anymore.
        {% if answer.graph_json_data %} Below is a visualisation of your answer.{% endif %}
    </p>

    <div class="side-by-side-centered-wrapper">
        <div>
            {% if answer.number_states < 100 %}
                {% include 'iteprisonergame_include/ipd_automata.html' with width=600 height=400 answer=answer %}
            {% else %}
                <p>This answer has {{ answer.number_states }} states. It will not be displayed.</p>
            {% endif %}
        </div>
        <div class="automata-text-display">
            <p>
                {{ answer.automata|linebreaksbr }}
            </p>
        </div>
    </div>
</section>
{% endblock %}