{% load static %}
{% load core_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iterated Prisoner's Dilemma</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}"/>
</head>

<body>

{% if request.user.is_authenticated %}

    <h1> {{ game.game_setting.long_name }} - Session {{ session.long_name }}</h1>

    {% if admin_user %}
        <div class="warning-section">
            <p>
                Since you are logged in as an admin, you can also access the
                <a href="{% url 'core:session_admin' session.url_tag %}">admin page</a>. You will be able to manage the
                game from there.
            </p>
            {% if not game.playable %}
                <p>
                    The game cannot be played at the moment. You can access the team page
                    <a href="{% url "itepris_game:submit_answer" session.url_tag game.url_tag %}">here</a> or the answer
                    page <a href="{% url "itepris_game:submit_answer" session.url_tag game.url_tag %}">here</a>.
                </p>
            {% endif %}
            {% if not game.results_visible %}
                <p>
                    The results are currently not visible to the players. You can access them
                    <a href="{% url "itepris_game:results" session.url_tag game.url_tag %}">here</a>. Note that admin
                    shortcuts are present there.
                </p>
            {% endif %}
        </div>
    {% endif %}

    <p>
        This is the main page for the {{ game.game_setting.long_name }}. In this game, you will play several times the
        Prisoner's Dilemma and you are asked to submit your strategy for the game.
    </p>

    {% if not current_team %}
        <p>
            This game is meant to be played <em>in teams</em> (of possibly one player). You then need to first create or join a
            team before being able to submit your answer.
        </p>
    {% else %}
        <p>
            You are part of the team <em>{{ current_team.name }}</em> composed of the following
            player{{ current_team.players.all|pluralize }}:
            {% for p in current_team.players.all %}
                {% if forloop.last %}
                    {{ p.name }}.
                {% else %}
                    {{ p.name }},
                {% endif %}
            {% endfor %}
            {% if current_answer %}
                Your team has <em>already</em> submitted an answer.
            {% endif %}
        </p>
    {% endif %}

    <table class="center-margin">
        <tbody>
            <tr>
                {% if game.playable and not current_team %}
                    <td style="padding-right: 20px;">
                        <span class="orange-button">
                            {% with 'core:team_'|add:game.game_setting.url_namespace as url_name %}
                                <a href="{% url url_name session.url_tag game.url_tag %}">Create or Join a Team</a>
                            {% endwith %}
                        </span>
                    </td>
                {% endif %}
                {% if game.playable and not current_answer %}
                    <td style="padding-left: 20px; padding-right: 20px;">
                        <span class="orange-button">
                            <a href="{% url 'itepris_game:submit_answer' session.url_tag game.url_tag %}">Submit your answer</a>
                        </span>
                    </td>
                {% endif %}
                {% if game.results_visible %}
                    <td style="padding-left: 20px;">
                        <span class="orange-button">
                            <a href="{% url 'itepris_game:results' session.url_tag game.url_tag %}">See the results</a>
                        </span>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <div class="navigation">
        <span class="navigation-button">
            <a href="{% url 'core:session_home' session.url_tag %}">&#8610;&nbsp;To session home</a>
        </span>
    </div>
{% else %}
    <p>Only authenticated users can see this page.</p>
{% endif %}


</body>
</html>