{% load static %}
{% load core_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iterated Prisoner's Dilemma | Answer</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}"/>
</head>

<body>

{% if request.user.is_authenticated %}
    {% if game.playable or admin_user %}
        {% if player or admin_user %}
            <h1> {{ game.game_config.long_name }} - Session {{ session.long_name }}</h1>

            <div class="navigation">
                <span class="navigation-button">
                    <a href="{% url 'itepris_game:index' session.url_tag game.url_tag %}">&#8610;&nbsp;To game home</a>
                </span>
                <br>
                <span class="navigation-button">
                    <a href="{% url 'core:session_home' session.url_tag %}">&#8610;&nbsp;To session home</a>
                </span>
            </div>

            {% if team or admin_user %}

                {% if admin_user and not player %}
                    <div class="warning-section">
                        <p>
                            Because you are not logged in as a player, you can only see (part of) this page, but not submit an answer.
                        </p>
                    </div>
                {% endif %}

                {% if answer_submitted %}
                    <p>Your answer has been submitted, thanks!</p>

                    <p>
                        You will be redirected soon to the {{ game.game_config.long_name }} page.
                        If not, <a href="{% url 'itepris_game:index' session.url_tag game.url_tag %}">click here</a>!
                    </p>

                    <script>
                        function redirect () {
                            window.location.href = "{% url 'itepris_game:index' session.url_tag game.url_tag %}" ;
                        }
                        setTimeout(redirect, 3000);
                    </script>
                {% else %}
                    {% if not current_answer %}

                        <p>
                            Fill out the form below to submit your answer to the {{ game.game_config.long_name }}. The "strategy"
                            field should describe the Moore machine defining your strategy. It should be a list of transitions, one
                            per line, where a transition follows the syntax:
                        </p>
                        <p class="center-align">
                            <i>Current state</i>: <i>C or D</i>, <i>Next state if C</i>, <i>Next state if D</i>
                        </p>
                        <p>
                            For instance, you can write "0: C, 0, 1" to say that you cooperate in state 0, you remain in
                            state 0 if your opponent also cooperates, and you transition to state 1 if your opponent defects.
                            You also need to specify which state is the initial state of your Moore machine (for example, this might be state 0).
                            Please also write one or two sentences to explain the reasoning you have used to come up with your strategy.
                        </p>

                        <p>
                            Please note that <em>you will submit the answer for the entire team {{ team.name }}</em> and that after submission, no
                            player from the team will be able to submit anymore.
                        </p>

                        <form action="{% url 'itepris_game:submit_answer' session.url_tag game.url_tag %}" method="post">
                            {% csrf_token %}

                            {% if submit_answer_form.non_field_errors %}
                                <ul class="errorlist">
                                    {% for error in submit_answer_form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% for hidden_field in submit_answer_form.hidden_fields %}
                                {% if hidden_field.errors %}
                                    <ul class="errorlist">
                                    {% for error in hidden_field.errors %}
                                        <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                                {{ hidden_field }}
                            {% endfor %}

                            <table class="center-margin form-table">
                                {% for field in submit_answer_form.visible_fields %}
                                    <tr>
                                        <td class="form-field-label">
                                            {{ field.label_tag }}
                                            {% if field.help_text %}
                                                <span class="info-span" title="{{ field.help_text }}">&#9432;</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ field }}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <br><span class="form-error">{{ error }}</span>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>

                            <p class="center-align">
                                <input class="green-button" type="submit" value="Submit your Answer">
                            </p>
                        </form>
                    {% else %}
                        <p>An answer has already been submitted for your team. This page is not for you.</p>
                    {% endif %}
                {% endif %}
            {% else %}
                <p>
                    You need to be part of a team to play this game. You can join or create a team
                    {% with 'core:team_'|add:game.game_config.url_namespace as url_name %}
                        <a href="{% url url_name session.url_tag game.url_tag %}">here.</a>
                    {% endwith %}
                </p>
            {% endif %}

            <div class="navigation">
                <span class="navigation-button">
                    <a href="{% url 'itepris_game:index' session.url_tag game.url_tag %}">&#8610;&nbsp;To game home</a>
                </span>
                <br>
                <span class="navigation-button">
                    <a href="{% url 'core:session_home' session.url_tag %}">&#8610;&nbsp;To session home</a>
                </span>
            </div>

        {% else %}
            <p>
                You are not authenticated for this session. Go to the <a href="{% url 'core:session_portal' session.url_tag %}">
                session index</a> page to log in.
            </p>
        {% endif %}
    {% else %}
        <p>
            It is not possible to play this game.
            Get back to the <a href="{% url "itepris_game:index" session.url_tag game.url_tag %}">home page</a> of the
            game.
        </p>
    {% endif %}
{% else %}
    <p>Only authenticated users can see this page.</p>
{% endif %}
</body>
</html>