{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Numbers Game</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/ngstyle.css' %}"/>
</head>

<body>

<h1> {{ game.game_setting.long_name }} - Session {{ session.long_name }}</h1>

<div class="navigation">
    <span class="navigation-button">
        <a href="{% url 'core:session_home' session.slug_name %}">&#8610;&nbsp;To session home</a>
    </span>
</div>

{% if admin_user %}
    <div class="warning-box">
        <p>
            Since you are logged in as an admin, you can also access the
            <a href="{% url 'core:session_admin' session.slug_name %}">admin page</a>. You will be able to manage the
            game from there.
        </p>
    </div>
{% endif %}

<p>
    This is the main page for the {{ game.game_setting.long_name }}. Remember the rules of the game: every player
    submits a real number between 0 and 100 and the player closest to 2/3 of the average of the answers wins the game.
</p>

<table class="center-margin">
    <tbody>
        <tr>
            <td style="padding-right: 20px;">
                {% if game.playable %}
                    <span class="orange-button">
                        <a href="{% url 'numbers_game:submit_answer' session.slug_name game.url_tag %}">Submit your answer</a>
                    </span>
                {% else %}
                    <span class="gray-button">
                        <a>Submit your answer</a>
                    </span>
                {% endif %}
            </td>
            <td style="padding-left: 20px;">
                {% if game.results_visible %}
                    <span class="orange-button">
                        <a href="{% url 'numbers_game:results' session.slug_name game.url_tag %}">See the results</a>
                    </span>
                {% else %}
                    <span class="gray-button">
                        <a>See the results</a>
                    </span>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

<div class="navigation">
    <span class="navigation-button">
        <a href="{% url 'core:session_home' session.slug_name %}">&#8610;&nbsp;To session home</a>
    </span>
</div>

</body>
</html>
