{% extends 'core/base_game.html' %}

{% block game_content %}
    <section>
        <p>
            This is the main page for the {{ game.game_config.long_name }}. Remember the rules of the game: every player
            submits a rational number between 0 and 100. The player closest to {{ game.numbers_setting.factor_display }}
            times the average of the answers wins the game.
        </p>

        {% if answer %}
            <p>
                You have already submitted an answer, you cannot submit another one. Your answer is
                <em>{{ answer.formatted_answer }}</em>.
            </p>
        {% endif %}
    </section>
{% endblock %}
