{% load core_extras %}

{% if answer %}
    <div class="strategy-wrapper">
        <div class="player1"><strong>K</strong>: {{ answer.prob_p1_king|float_formatter:5 }}</div>
        <div class="player1"><strong>Q</strong>: {{ answer.prob_p1_queen|float_formatter:5 }}</div>
        <div class="player1"><strong>J</strong>: {{ answer.prob_p1_jack|float_formatter:5 }}</div>
        <div class="player2"><strong>K</strong>: {{ answer.prob_p2_king|float_formatter:5 }}</div>
        <div class="player2"><strong>Q</strong>: {{ answer.prob_p2_queen|float_formatter:5 }}</div>
        <div class="player2"><strong>J</strong>: {{ answer.prob_p2_jack|float_formatter:5 }}</div>
    </div>
{% endif %}