{% extends 'core/base_game_index.html' %}

{% load static %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'centipedegame/css/style.css' %}"/>
{% endblock %}

{% block game_rule_content %}
    <section>
        <h2>Rules of the game</h2>
        <p>
            This is the main page for the game <em>{{ game.name }}</em>.
            This is a two-player sequential game with the following structure where the first player
            to play is <span style="color: var(--color-player1); font-weight: bold;">player 1</span> and the second player to play is
            <span style="color: var(--color-player2); font-weight: bold;">player 2</span>.
        </p>

        <div class="center-align">
            {% include 'centipedegame_include/centipede_svg.html' with game=game %}
        </div>
    </section>
{% endblock %}

{% block game_answer_content %}
    <section>
            <h2>Strategy</h2>
        <p>
            A strategy is already linked to your account. You cannot play anymore.
        </p>
        <p>
            Your strategy is the following:
        </p>

        <div class="center-align">
            {% include 'centipedegame_include/centipede_svg.html' with game=game centi_answer=answer %}
        </div>

        which reads as:
        <ul>
            <li><em style="color: var(--color-player1);">{{ answer.strategy_as_p1 }}</em> as <span style="color: var(--color-player1); font-weight: bold;">player 1</span>;</li>
            <li><em style="color: var(--color-player2)">{{ answer.strategy_as_p2 }}</em> as <span style="color: var(--color-player2); font-weight: bold;">player 2</span>.</li>
        </ul>
    </section>
{% endblock %}