{% extends 'core/base_game.html' %}

{% load static %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/centistyle.css' %}"/>
{% endblock %}

{% block game_content %}
    <section>
        <p>
            This is the main page for the game <em>{{ game.name }}</em>.
            This is a two-player sequential game with the following structure.
        </p>

        <div class="center-align">
            {% include 'include/centipede_svg.html' with game=game %}
        </div>
    </section>

    {% if game.needs_teams %}
        <section>
            {% if not team %}
                <p>
                    This game is meant to be played <em>in teams</em> (of possibly one player). You then need to first create or join a
                    team before being able to play.
                </p>
            {% else %}
                <p>
                    You are part of the team <em>{{ team.name }}</em> composed of the following
                    player{{ team.players.all|pluralize }}:
                    {% for p in team.players.all %}
                        {% if forloop.last %}
                            {{ p.name }}.
                        {% else %}
                            {{ p.name }},
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        </section>
    {% endif %}

    {% if answer %}
        <section>
            <p>
                You have already submitted an answer, you cannot submit another one. Your answer is
                <em style="color: var(--color-player1);">{{ answer.strategy_as_p1 }}</em> as <span style="color: var(--color-player1); font-weight: bold;">player 1</span> and
                <em style="color: var(--color-player2)">{{ answer.strategy_as_p2 }}</em> as <span style="color: var(--color-player2); font-weight: bold;">player 2</span>.
            </p>
        </section>
    {% endif %}
{% endblock %}