{% extends 'core/base_game_submit_answers.html' %}

{% load static %}

{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/centistyle.css' %}"/>
{% endblock %}

{% block game_submit_answer_content %}
    <section>
        {% if submitted_answer %}
            <p>Your answer has been submitted, thanks!</p>

            <p>
                You will be redirected soon to the game <em>{{ game.name }}</em> page.
                If not, <a class="button navigation-button" href="{% url 'centipede_game:index' session.url_tag game.url_tag %}">click here</a>!
            </p>

            <script>
                function redirect () {
                    window.location.href = "{% url 'centipede_game:index' session.url_tag game.url_tag %}" ;
                }
                setTimeout(redirect, 3000);
            </script>
        {% else %}
            <p>
                Fill out the form below to submit your answer to the game <em>{{ game.name }}</em>. Please fill out the strategy
                you would play if you were <span style="color: var(--color-player1); font-weight: bold;">player 1</span> (the first player to play) and if you were
                <span style="color: var(--color-player2); font-weight: bold;">player 2</span> (the second player to play) as presented in the figure below.
                Please also write one or two sentences to explain the reasoning you have used to come up with your answer.
            </p>

            <div class="center-align">
                {% include 'include/centipede_svg.html' %}
            </div>

            {% if submission_error %}
                    <section class="form-error-message">
                        <p>Your answer raised the following error. Contact the administrator to solve the problem.</p>

                        <p>{{ submission_error }}</p>
                    </section>
                {% endif %}

                {% if submit_answer_form %}
                    <form action="{% url 'centipede_game:submit_answer' session.url_tag game.url_tag %}" method="post">
                        {% include "include/form_table_template.html" with form=submit_answer_form form_type="submit_answer" submit_button_label='Submit your Answer' %}
                    </form>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}