{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'goodbad/includes/htmlheadercontent.html' %}
	<title>Good-Choices/Bad-Choices Game | Play</title>
</head>

<body>

<h1>The Good-Choices/Bad-Choices Game</h1>

{% if already_played %}

    <p>{{ player.name }} has played the game already.</p>

{% else %}

    <p>You are about to play the game as <strong>{{ player.name }}</strong>.</p>

    <p>
        {{ session.play_page_descr }}
    </p>

    <form method="post" action="{% url 'goodbad:goodbad_play' session.slug player.slug %}"
          class="goodbad_play_form">
        {% csrf_token %}

        {% for question in questions %}

            <h2 id="{{ question.slug }}_question" class="question_title">{{ question.title }}</h2>

            {% if question.text %}
                <p>{{ question.text }}</p>
            {% endif %}

            <div class="alternatives_wrap">
                {% for alternative in question.random_order_alternatives %}
                    <label for="label_{{ alternative.id }}" class="alternative_label">
                        <div>
                            {% if alternative.image %}
                                <img src="{% static alternative.image %}" alt="Image, correct or not?">
                            {% elif alternative.text %}
                                <p>{{ alternative.text }}</p>
                            {% endif %}
                            <input type="radio" id="label_{{ alternative.id }}" name="{{ question.slug }}_selector" value="{{ alternative.id }}" class="question_radio_input">
                        </div>
                    </label>
                {% endfor %}
            </div>

        {% endfor %}

        <script>
            function updateRadioCSS(radio){
                var questionDivs = radio.closest(".alternatives_wrap").querySelectorAll(".alternative_label")

                for (var i = 0, len = questionDivs.length; i < len; i++){
                    if (questionDivs[i].querySelector("input[type=radio]").checked) {
                        questionDivs[i].classList.add("selected_alternative_label");
                    } else {
                        questionDivs[i].classList.remove("selected_alternative_label");
                    }
                }
            }

            var radios = document.getElementsByClassName('question_radio_input');

            for (var i = 0, len = radios.length; i < len; i++){
                radios[i].addEventListener('change', function () {
                    updateRadioCSS(this);
                })
            }
        </script>

        <p style="margin-top: 30px; text-align: center">
            <input id="submit_button" type="submit" value="Submit your answers"/>
        </p>
    </form>

{% endif %}

<p>
    <span><a href="{% url 'goodbad:goodbad_index' session.slug %}">&#171;- to the main page</a></span>
</p>

</body>
</html>