{% extends 'core/base_game_index.html' %}
{% load core_extras %}

{% block game_rule_content %}
    <section>
        <h2>Rules of the Game</h2>
        <p>
            This is the main page for the game <em>{{ game.name }}</em>.
            In this game every player is presented several questions and for each of them several
            alternatives. The goal is to find the highest number of correct answers, hopefully doing
            better than the other players!
        </p>
    </section>
{% endblock %}

{% block game_answer_content %}
    <section>
        <h2>Answer</h2>
        <p>
            An answer is already linked to your account. You cannot play anymore.
        </p>

{#        <p>#}
{#            Your answer is <em>{{ answer.answer|float_formatter:20 }}</em>.#}
{#        </p>#}
    </section>
{% endblock %}
