{% extends 'core/base_game_index.html' %}
{% load core_extras %}

{% block game_rule_content %}
    <section>
        <h2>Rules of the Game</h2>
        <p>
            This is the main page for the <em>{{ game.name }}</em>.
            In this game every player is presented with several questions and for each of them several
            answers, only one of which is correct. The goal is to find as many correct answers as possible,
            hopefully doing better than the other players!
        </p>
    </section>
{% endblock %}

{% block game_answer_content %}
    {% if answer.question_answers.exists %}
        <section>
            <h2>Answer</h2>
            <p>
                An answer is already linked to your account. You cannot play anymore.
            </p>
            <p>
                You can see the details of your answer here:
            </p>
            <p class="center-align">
                <a class="button navigation-button" href="{% url "goodbad_game:results" session.url_tag game.url_tag %}">See your result</a>
            </p>
        </section>
    {% endif %}
{% endblock %}