{% extends 'core/base_game_submit_answers.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/simppokerstyle.css' %}"/>
{% endblock %}

{% block game_submit_answer_content %}
    <section>
        {% if submitted_answer %}
            <p>You have submitted the following answer:</p>

            {% include 'simp_poker_include/answer_pretty_print.html' with answer=submitted_answer %}

            {% if submitted_answer.score_against_optimum != None %}
                {% if submitted_answer.score_against_optimum < 0 %}
                    <p>
                        With this strategy, if you were to play a large number of games against the
                        computer, you would lose {{ submitted_answer.score_against_optimum }} dollars per game on average.
                    </p>
                {% else %}
                    <p>
                        With this strategy, if you were to play a large number of games against the
                        computer, you would neither win nor lose any money on average.
                    </p>
                {% endif %}
            {% else %}
                <p>
                    You will be redirected soon to the game home page.
                    If not, <a class="button navigation-button" href="{% url 'simp_poker:index' session.url_tag game.url_tag %}">click here</a>!
                </p>

                <script>
                    function redirect() {
                        window.location.href = "{% url 'simp_poker:index' session.url_tag game.url_tag %}";
                    }
                    setTimeout(redirect, 3000);
                </script>
            {% endif %}
        {% else %}
            {% if answer %}
                <p>You have already submitted the answer:</p>
                <ul>
                    <li>Probability <em>{{ answer.prob_p1_king|floatformat }}</em> of betting on a king;</li>
                    <li>Probability <em>{{ answer.prob_p1_queen|floatformat }}</em> of betting on a queen;</li>
                    <li>Probability <em>{{ answer.prob_p1_jack|floatformat }}</em> of betting on a jack;</li>
                    <li>Probability <em>{{ answer.prob_p2_king|floatformat }}</em> of calling on a king;</li>
                    <li>Probability <em>{{ answer.prob_p2_queen|floatformat }}</em> of calling on a queen;</li>
                    <li>Probability <em>{{ answer.prob_p2_jack|floatformat }}</em> of calling on a jack.</li>
                </ul>
                <p>You cannot submit more than one answer for this game.</p>
            {% else %}
                <p>
                    Fill out the form below to submit your answer to the game <em>{{ game.name }}</em>.
                    All the probability fields should contain rational numbers between 0 and 1 with a dot separator (with the
                    <a href="https://docs.python.org/3/tutorial/floatingpoint.html" target="_blank">
                        limitations</a> of a Python float).
                </p>
                <p>
                    Please also write one or two sentences to explain the reasoning you have used to come up with your answer.
                </p>

                {% if submission_error %}
                    <section class="form-error-message">
                        <p>Your answer raised the following error. Contact the administrator to solve the problem.</p>

                        <p>{{ submission_error }}</p>
                    </section>
                {% endif %}

                {% if submit_answer_form %}
                    <form action="{% url 'simp_poker:submit_answer' session.url_tag game.url_tag %}" method="post">
                        {% include "include/form_table_template.html" with form=submit_answer_form form_type="submit_answer" submit_button_label='Submit your Answer' %}
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </section>
{% endblock %}