{% extends 'core/base.html' %}

{% block title %}About to Game Academy{% endblock %}

{% block header %}
    <h1>About the Game Academy</h1>
{% endblock %}

{% block content %}
    <section>
        <p>
            The Game Academy has been developed at the
            <a href="https://www.illc.uva.nl/">Institute for Logic, Language and Computation</a>
            of the <a href="https://www.uva.nl/en">University of Amsterdam</a>
            in the Computational Social Choice Group led by <a href="https://staff.science.uva.nl/u.endriss/">Ulle Endriss</a>.
        </p>

        <p>
            The core concept and design of the platform were conceived by Ulle Endriss and Simon Rey,
            with Simon Rey leading the actual implementation. Additional contributions were made by
            members of the group, including Adrian Haret and Julian Chingoma, who provided valuable
            input on various elements of the project.
        </p>

        <p>
            The project is open-source. You can find the code in the GitHub repository
            <a href="https://github.com/COMSOC-Community/Game-Academy">COMSOC-Community/Game-Academy</a>.
        </p>
    </section>
{% endblock %}