{% extends 'core/base.html' %}

{% block title %}About to Game Academy{% endblock %}

{% block header %}
    <h1>About to the Game Academy</h1>
{% endblock %}

{% block content %}
    <div class="center-align">
        <a class="button navigation-button" href="{% url 'core:index' %}">To the main page</a>
    </div>
    <section>
        <p>
            The Game Academy has been developed at the
            <a href="https://www.illc.uva.nl/">Institute for Logic, Language and Computation</a>
            of the <a href="https://www.uva.nl/en">University of Amsterdam</a>
            in the Computational Social Choice Group led by <a href="https://staff.science.uva.nl/u.endriss/">Ulle Endriss</a>.
        </p>
    </section>
{% endblock %}