{% extends 'core/base.html' %}

{% block title %}{{ game.name }}{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.url_tag %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block header %}
    <h1>{{ game.name }}</h1>
    <p>{{ session.long_name|title }}</p>
{% endblock %}

{% block side_panel_extra_nav %}
    {% include 'include/sidepanel_nav_game.html' %}
    {% include 'include/sidepanel_nav_session.html' %}
{% endblock %}

{% block content %}
    {% if user_is_session_admin %}
        {% include 'include/game_admin_panel.html' %}
    {% endif %}

    {% block game_content %}
        <section>
            <p>
                This is the main page for the {{ game.game_config.long_name }}.
            </p>
        </section>
    {% endblock %}

    {% block game_navigation %}
        <div class="side-by-side-centered-wrapper">
            {% if game_nav_display_home %}
                <a class="button navigation-button" href="{% include 'include/game_navigation_url.html' with url_name='index' %}">Home</a>
            {% endif %}
            {% if game_nav_display_team %}
                <a class="button navigation-button" href="{% include 'include/game_navigation_url.html' with url_name='team' %}">Team</a>
            {% endif %}
            {% if game_nav_display_answer %}
                <a class="button navigation-button" href="{% include 'include/game_navigation_url.html' with url_name='submit_answer' %}">Answer</a>
            {% endif %}
            {% if game_nav_display_result %}
                <a class="button navigation-button" href="{% include 'include/game_navigation_url.html' with url_name='results' %}">Result</a>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
