{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head_base_content.html' %}
    <title>{% block title %}Game Server{% endblock %}</title>
    {% if user_is_authenticated %}
        <script src="{% static 'js/side_panel.js' %}"></script>
    {% endif %}
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header id="main-header">
        {% block header %}{% endblock %}
    </header>


    <main>
        <div id="main-panel" class="{% if show_side_panel %}truncated-main{% else %}full-main{% endif %}">
            {% if not show_side_panel and user_is_authenticated %}
                <p class="center-align">
                    <a class="button" href="{% url 'core:logout' %}?next={{ session_portal_url }}">Logout</a>
                </p>
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        {% if show_side_panel %}
            <div id="side-panel-toggle-out" class="side-panel-toggle">&#9654;</div>
            <div id="side-panel" class="side-panel">

            <div id="side-panel-header">
                    <div id="side-panel-username-wrap">
                        <span>{{ user.display_name }}</span>
                        <span class="logout-button"><a class="button" href="{% url 'core:logout' %}{% block logout_next %}{% endblock %}">Logout</a></span>
                    </div>
                    <div id="side-panel-toggle-in" class="side-panel-toggle"><span>&#9664;</span></div>
                </div>

            {% if not user_is_only_guest %}
                <div class="side-panel-content">
                    {% if not user_is_only_guest %}
                        <p class="center-align"><a class="button process-button" href="{% url 'core:user_profile' user.id %}">Account Settings</a></p>
                    {% endif %}
                </div>
            {% endif %}

                <nav>
                    <h3>Navigation</h3>

                    <div class="nav-content">
                        {% block side_panel_extra_nav %}
                        {% endblock %}

                        {% if not user_is_only_player %}
                            {% include 'include/sidepanel_nav_main.html' %}
                            {% include 'include/sidepanel_nav_other_sessions.html' %}
                        {% endif %}
                    </div>
                </nav>
            </div>
        {% endif %}
    </main>

    <footer id="main-footer">
        {% if not user_is_authenticated or not user_is_only_player %}
            <div class="footer-wrap">
                <div class="footer-element button navigation-button"><a href="{% url 'core:index' %}">Home page</a></div>
                <div class="footer-element button navigation-button"><a href="{% url 'core:faq' %}">FAQ and Tutorials</a></div>
                <div class="footer-element button navigation-button"><a href="{% url 'core:about' %}">About</a></div>
            </div>
        {% endif %}
        <div class="footer-wrap">
            <div class="footer-element button navigation-button"><a href="{% url 'core:terms_and_conditions' %}">Terms and Conditions</a></div>
            <div class="footer-element button navigation-button"><a href="{% url 'core:privacy_policy' %}">Privacy Policy</a></div>
            <div class="footer-element button navigation-button"><a href="{% url 'core:cookie_policy' %}">Cookie Policy</a></div>
        </div>
        <div class="footer-wrap">
            <div class="footer-element">&copy; <script>document.write(new Date().getFullYear());</script> Simon Rey</div>
        </div>
    </footer>

    <div id="cookie-consent-banner">
        <p>
            We use cookies to ensure that we give you the best experience on our website.
            We only use necessary cookies.
            By continuing to browse, you accept their use.
            <a href="{% url 'core:cookie_policy' %}">Learn more</a>
        </p>
        <span id="accept-cookies" class="button color-success-dark">Accept</span>
    </div>

    <script>
    // Check if the user has already accepted cookies
    function checkCookieConsent() {
        const cookieConsent = getCookie("cookie-consent");
        if (!cookieConsent) {
            document.getElementById("cookie-consent-banner").style.display = "block";
        }
    }

    // Function to set a cookie
    function setCookie(name, value, days) {
        const d = new Date();
        d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
        const expires = "expires=" + d.toUTCString();
        document.cookie = name + "=" + value + ";" + expires + ";path=/";
    }

    // Function to get a cookie value
    function getCookie(name) {
        const decodedCookie = decodeURIComponent(document.cookie);
        const ca = decodedCookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            const c = ca[i].trim();
            if (c.indexOf(name) === 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    // When the user accepts cookies, set the cookie and hide the banner
    document.getElementById("accept-cookies").addEventListener("click", function() {
        setCookie("cookie-consent", "accepted", 100); // Store the acceptance for 100 days
        document.getElementById("cookie-consent-banner").style.display = "none"; // Hide the banner
    });

    // Check for existing consent on page load
    checkCookieConsent();
    </script>

    {% block extra_scripts %}{% endblock %}
</body>
</html>