{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head_base_content.html' %}
    <title>{% block title %}Game Server{% endblock %}</title>
    {% if user_is_authenticated %}
        <script src="{% static 'js/side_panel.js' %}"></script>
    {% endif %}
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header id="main-header">
        {% block header %}{% endblock %}
    </header>

    {% if user_is_authenticated %}
        <div id="side-panel-toggle"><<</div>
        <div id="side-panel" class="side-panel">
            <h3>
                {{ user.display_name|title }}
                <span class="logout-button"><a class="button" href="{% url 'core:logout' %}{% block logout_next %}{% endblock %}">Logout</a></span>
            </h3>

        {% if not user_is_only_guest %}
            <div class="side-panel-content">
                {% if not user_is_only_guest %}
                    <p class="center-align"><a class="button process-button" href="{% url 'core:change_password' user.id %}">Change your Password</a></p>
                {% endif %}
                {% if not user_is_only_player %}
                    <p class="center-align"><a class="button process-button" href="{% url 'core:user_profile' user.id %}">View/Edit your profile</a></p>
                {% endif %}
            </div>
        {% endif %}

                <nav>
                    <h3>Navigation</h3>

                    <div class="nav-content">
                        {% block side_panel_extra_nav %}
                        {% endblock %}

                        {% if not user_is_only_player %}
                            {% include 'include/sidepanel_nav_main.html' %}
                            {% include 'include/sidepanel_nav_other_sessions.html' %}
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>

        <main id="main-panel" class="truncated-main">
    {% else %}
        <main id="main-panel" class="full-main">
    {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer id="main-footer">
        <p>&copy; 2023 Simon Rey</p>
    </footer>

    {% block extra_scripts %}{% endblock %}
</body>
</html>