{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}Change Password{% endblock %}

{% block header %}
    <h1>Update Password</h1>
{% endblock %}

{% block content %}
    <section>
        {% if update_password_form %}a
            <form action="{% url 'core:change_password' user.id %}" method="post">
                {% include "include/form_table_template.html" with form=update_password_form form_type='update_password_form' submit_button_label='Update Password' %}
            </form>
        {% endif %}
    </section>
{% endblock %}
