{% extends 'core/base.html' %}

{% load static %}

{% block title %}Cookie Policy{% endblock %}

{% block header %}
    <h1>Cookie Policy</h1>
{% endblock %}

{% block content %}
    <section>
        <p><strong>Effective Date:</strong> November 19, 2024</p>

        <p>
            The Game Academy ("we," "us," "our") is committed to make fair use of the information
            you share with us.
            This Cookie Policy explains how we use cookies on our website
            <a href="https://game-academy.org" target="_blank">game-academy.org</a> (the "Platform").
            By using our platform, you consent to the use of cookies as described
            in this policy.
        </p>

        <h2>1. What are Cookies?</h2>
        <p>
            Cookies are small text files that are stored on your device when you visit a website. They allow the website to
            recognize your device and remember certain information about your visit, such as your preferences, login status, or
            security settings.
        </p>

        <h2>2. What Cookies Do We Use?</h2>
        <p>
            The Game Academy only makes use of <strong>necessary cookies</strong>.
            These cookies are essential for the operation of the platform. They enable basic functions
            like security, page navigation, and form submission. These cookies do not require your consent.
        </p>

        <h3>Specifically, we use the following necessary cookies:</h3>
        <ul>
            <li>
                <strong>csrftoken</strong>: This cookie is set by the Django framework to help protect the site against Cross-Site
                Request Forgery attacks. It is essential for security and is stored for 1 year.
            </li>
            <li>
                <strong>rc::a</strong> and <strong>rc::c</strong>: These cookies are set by Google reCAPTCHA to identify bots
                and protect the site from malicious spam attacks. The "rc::a" cookie is persistent, while "rc::c" is a session cookie
                that expires when you end your browsing session.
            </li>
            <li>
                <strong>cookie-consent</strong>: This cookie stores the user's consent for accepting the cookie policy.
                It is set when the user clicks the "Accept" button on the cookie consent banner and expires after 100 days.
            </li>
        </ul>

        <h2>3. Why Do We Use Cookies?</h2>

        <p>
            We use cookies for the following purposes:
        </p>
        <ul>
            <li>To ensure the proper functionality and security of the platform.</li>
            <li>To protect the platform against malicious activities (e.g., spam, bots).</li>
        </ul>

        <h2>4. Cookie Consent</h2>

        <p>
            By using our platform, you consent to the use of cookies as outlined in this policy.
            You are not required to give explicit consent for necessary cookies, as they are essential
            for the platform to function properly. However, you can manage your cookie preferences through your browser settings.
        </p>

        <h2>5. How to Manage or Disable Cookies</h2>

        <p>
            You can manage or disable cookies through your web browser settings. Please note that disabling cookies may affect the
            functionality of certain features on the platform.
        </p>
        <p>
            To manage cookies in popular browsers, you can refer to the following links:
        </p>
        <ul>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">Google Chrome</a></li>
            <li><a href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox" target="_blank">Mozilla Firefox</a></li>
            <li><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Microsoft Edge</a></li>
            <li><a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac" target="_blank">Apple Safari</a></li>
        </ul>

        <h2>6. Changes to Terms</h2>

        <p>
            We reserve the right to modify this Cookie Policy at any time.
            Changes will be posted on this page, and the "Effective Date" will be updated.
            Your continued use of the platform constitutes your acceptance of the revised policy.
        </p>

        <h2>7. Contact Us</h2>

        <p>If you have questions or concerns about this Privacy Policy, please contact us at:
        <a href="mailto:support@game-academy.org">support@game-academy.org</a>.</p>
    </section>
{% endblock %}