{% extends 'core/base.html' %}

{% block title %}Create Session{% endblock %}

{% block header %}
    <h1>Create a Session</h1>
{% endblock %}

{% block content %}
    {% if created_session %}
        <section class="form-success-message">
            <p>
                The session {{ created_session.long_name }} has been created! Congrats. You will
                soon be redirected to the main page of the session.
            </p>

            <p class="center-align">
                <a class="button navigation-button" href="{% url 'core:session_portal' created_session.url_tag %}">Access the session</a>
            </p>

            <script>
                function redirect () {
                    window.location.href = "{% url 'core:session_portal' created_session.url_tag %}" ;
                }
                setTimeout(redirect, 3000);
            </script>
        </section>
    {% else %}
        <section>
            <p>
                Sessions are the main components of this website. Once created, you will be able to add games and
                players to a session. If you are using this website for a course, a session will typically represent one
                edition of the course.
            </p>

            <p>
                Use the form below to create a session.
            </p>

            <form action="{% url 'core:create_session' %}" method="post">
                {% include "include/form_table_template.html" with form=create_session_form form_type='create_session_form' submit_button_label='Create Session' %}
            </form>
        </section>
    {% endif %}
{% endblock %}
