{% extends 'core/base.html' %}

{% load static %}

{% block title %}Frequently Asked Questions and Tutorials{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/collapsible_next.js' %}"></script>
    <link rel="stylesheet" href="{% static 'iteprisonergame/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'centipedegame/css/style.css' %}"/>
{% endblock %}


{% block header %}
    <h1>Frequently Asked Questions and Tutorials</h1>
{% endblock %}

{% block content %}
    <section>
        <p>
            The page presents a collection of extra information and tips on how to use the website.
        </p>

        <p>
            This page is purposefully long. To find what you are looking for either use the search function of your
            browser or any of the following links.
        </p>

        <ul>
            <li><a href="#session_management">General Management of a Session</a></li>
            <li>
                <ul>
                    <li><a href="#creating-session">Creating a Session</a></li>
                    <li><a href="#deleting-session">Deleting a Session</a></li>
                    <li><a href="#portal-and-home">Session Portal vs Session Home</a></li>
                    <li><a href="#users-players">Users, Players and Restricted Users</a></li>
                    <li><a href="#guest-players">Guest Players</a></li>
                    <li><a href="#changing-password">Changing Password</a></li>
                    <li><a href="#session-admin-pages">Session Admin Pages</a></li>
                    <li><a href="#how-to-test-session">How to Test the Session</a></li>
                    <li><a href="#result-page-404">The Result Page returns a 404 error for the Players</a></li>
                    <li><a href="#result-page-incorrect">The display in the Result Page is not correct</a></li>
                </ul>
            </li>
            <li><a href="#course">Setting up a Session for a Course</a></li>
            <li>
                <ul>
                    <li><a href="#accoutns-for-students">Accounts for the Students</a></li>
                    <li><a href="#adding-tas">Add your Teaching Assistants as Admin</a></li>
                    <li><a href="#student-lost-password">Retrieving the Password of a Student</a></li>
                    <li><a href="#adding-late-student">Adding a Student after Registration is Close</a></li>
                </ul>
            </li>
            <li><a href="#one-shot-event">Setting up a Session for a One-Shot Event</a></li>
            <li>
                <ul>
                    <li><a href="#guest-players-only">Guest Players Only</a></li>
                    <li><a href="#game-after-login">Game After Login</a></li>
                    <li><a href="#direct-results">Display the Results of the Games Directly</a></li>
                </ul>
            </li>
            <li><a href="#numbers-game">Numbers Game</a></li>
            <li><a href="#iterated-prisoners-game">Iterated Prisoner's Dilemma Tournament</a></li>
            <li><a href="#centipede-game">Centipede Game</a></li>
            <li><a href="#simplified-poker">Simplified Poker</a></li>
            <li><a href="#auction-game">Auction Game</a></li>
            <li><a href="#good-bad-game">Good or Bad Game</a></li>
        </ul>
    </section>

    <section id="session_management">
        <h2>General Management of a Session</h2>

        <div class="faq-wrap" id="creating-session">
            <h3>Creating a Session</h3>
            <div class="faq-content">
                <p>
                    This is done <a href="{% url "core:create_session" %}">here</a>. You can only see
                    this page if you are logged in, and if you have the suitable permission.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="deleting-session">
            <h3>Deleting a Session</h3>
            <div class="faq-content">
                <p>
                    To delete a session, go to parameter admin page of the session at <code>SESSION_URL/admin/</code>.
                    At the bottom of the page there is a form to delete the session.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="portal-and-home">
            <h3>Session Portal vs Session Home</h3>
            <div class="faq-content">
                <p>
                    The portal of a session is the page from which the users can enter the session
                    (via logging in for instance). The home is the page in which players see all the
                    games that are on offer.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="users-players">
            <h3>Users, Players and Restricted Users</h3>
            <div class="faq-content">
                <p>
                    Users can either have a global account, or an account that is specific to a session.
                    We call the latter restricted users. Users are restricted when a non-authenticated
                    person creates a player profile from the portal of a session.
                </p>
                <p>
                    Restricted users can only access the content of the session to which they registered.
                    Whenever they try to access a page outside of the session, a prompt will require
                    them to log out first.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="guest-players">
            <h3>Guest Players</h3>
            <div class="faq-content">
                <p>
                    Guest players are users who joined the session without registering. These players
                    cannot log in.
                </p>
                <p>
                    They are typically used for one-shot events in which there is no need to create
                    accounts.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="changing-password">
            <h3>Changing Password</h3>
            <div class="faq-content">
                <p>
                    Every user can change their password by going to their account settings. This page
                    is accessible via the side panel.
                </p>

                <p>
                    An admin of a session can also change the password of the players of the session.
                    This is only possible for players who are restricted to the session. Use this
                    functionality if a player has lost their password, for instance. The links to
                    change the password of the players are located in the tables available at
                    <code>SESSION_URL/admin/players</code>.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="session-admin-pages">
            <h3>Session Admin Pages</h3>
            <div class="faq-content">
                <p>
                    There are many admin pages for a session. The admin pages for the whole sessions
                    can be found under:
                </p>
                <ul>
                    <li><code>SESSION_URL/admin/</code> for the parameters of the session,</li>
                    <li><code>SESSION_URL/admin/players</code> for the players,</li>
                    <li><code>SESSION_URL/admin/games</code> for the games.</li>
                </ul>

                <p>
                    In addition, each game has its own set of admin pages:
                </p>
                <ul>
                    <li><code>SESSION_URL/admin/game/GAME_URL_TAG</code> for the settings of the game,</li>
                    <li><code>SESSION_URL/admin/game/GAME_URL_TAG/teams</code> for the teams of the game,</li>
                    <li><code>SESSION_URL/admin/game/GAME_URL_TAG/answers</code> for the answers of the game.</li>
                </ul>

                <p>
                    Links to these different admin pages can be found in the side-panel and at the top
                    of each admin page.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="how-to-test-session">
            <h3>How to Test the Session</h3>
            <div class="faq-content">
                <p>
                    To test the session and see how things look the easiest is to create a test player account. Login to
                    that test account in a different browser (or an incognito page) and you will be able to see how
                    things are presented. Note that as an admin, the display is quite different. If things are correctly
                    displayed to admins it does not mean that they are correctly displayed to the players.
                </p>
                <p>
                    Note that most of the games implement random answer generation if you want to see how the result
                    page of a game looks.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="result-page-404">
            <h3>The Result Page returns a 404 error for the Players</h3>
            <div class="faq-content">
                <p>
                    This probably means that you did not update the setting of the game so that the results are visible.
                    This can be changed from the page <code>SESSION_URL/admin/game/GAME_URL_TAG</code> or by using one
                    of the quick admin link at the top of page of a game.
                </p>
                <p>
                    Note that admins can always see the result page, regardless of the visibility status of the results.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="result-page-incorrect">
            <h3>The display in the Result Page is not correct</h3>
            <div class="faq-content">
                <p>
                    Your result page indicates that there are no answers or some of the fields are not displayed properly
                    (None, or wrong values)? You probably did not run the management commands. These are often necessary
                    for the results to be displayed correctly.
                </p>
            </div>
        </div>
    </section>

    <section id="course">
        <h2>Setting up a Session for a Course</h2>

        <p>
            Are you using the game academy for a course? Here are few ideas that you can use to set up
            your session.
        </p>

        <div class="faq-wrap" id="accoutns-for-students">
            <h3>Accounts for the Students</h3>
            <div class="faq-content">
                <p>
                    <strong>Via registration.</strong> Once you have created the session, you can open
                    the registration to allow the students to register for your session. Registration
                    can be closed again after some time to avoid students creating more than one account
                    (which would allow them to have additional influence in the games).
                </p>
                <p>
                    <strong>Via upload.</strong> You can also upload a CSV file with the account details
                    to pre-create player profiles for your students. This is done under via form in
                    the page: <code>SESSION_URL/admin/players</code>. You do not need
                    to ever open the registration to your session. This ensures that all students have
                    an account (and no more than one).
                </p>
                <p>
                    Opening and closing the registration is done by updating the session parameters
                    on the page <code>SESSION_URL/admin</code>.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="adding-tas">
            <h3>Add your Teaching Assistants as Admin</h3>
            <div class="faq-content">
                <p>
                    If you need more workforce, simply for running the management commands on time
                    for instance, you can add admins to the session. Do so on the page:
                    <code>SESSION_URL/admin/players</code>.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="student-lost-password">
            <h3>Retrieving the Password of a Student</h3>
            <div class="faq-content">
                <p>
                    If a student has lost their password, the only way to get access to the account again is by changing
                    their password directly. As a session admin, you can do that in the <code>SESSION_URL/admin/players</code>
                    page. Not that this is only possible if the student is session-restricted.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="adding-late-student">
            <h3>Adding a Student after Registration is Close</h3>
            <div class="faq-content">
                <p>
                    To add a new student after you have closed the registrations. You can use the form available on
                    the <code>SESSION_URL/admin/players</code> page. Set up a default password and ask the student to
                    immediately change their password after their first login.
                </p>
            </div>
        </div>
    </section>

    <section id="one-shot-event">
        <h2>Setting up a Session for a One-Shot Event</h2>

        <p>
            Do you want to use the game-academy for an event in which the participants can easily play
            one of the games? Here are some ideas on how to set up the session.
        </p>

        <div class="faq-wrap" id="guest-players-only">
            <h3>Guest Players Only</h3>
            <div class="faq-content">
                <p>
                    To reduce the overhead, consider disabling the display of the registration and
                    logging in forms in the session portal. To do so, update the session parameters
                    on the page <code>SESSION_URL/admin</code>.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="game-after-login">
            <h3>Game After Login</h3>
            <div class="faq-content">
                <p>
                    If you are only using a single game in your session, save one click by setting
                    up a direct redirect to a game after login. This skips the session home.
                    To do so, update the parameters of the session
                    on the page <code>SESSION_URL/admin</code>.
                </p>
            </div>
        </div>

        <div class="faq-wrap" id="direct-results">
            <h3>Display the Results of the Games Directly</h3>
            <div class="faq-content">
                <p>
                    If you want the players to have direct feedback after submitting an answer, you
                    can select the result page to be the page after submit of a game. To do so,
                    update the settings of the game
                    on the page <code>SESSION_URL/admin/game/GAME_URL_TAG</code>.
                </p>

                <p>
                    Consider running the management commands automatically as well. That is
                    necessary for the games that need them to display the result page properly.
                    This is also done by updating the settings of the game on the page
                    <code>SESSION_URL/admin/game/GAME_URL_TAG</code>. This can incur delay in the
                    response, especially as the number of players increases.
                </p>
            </div>
        </div>

    </section>

    <section id="numbers-game">
        <h2>Numbers Game</h2>

        <p>
            In the numbers game, players are asked to submit a number between 0 and 100. The player that is the
            closest to 2/3 of the average submitted number wins the game.
        </p>

        <div class="faq-wrap">
            <h3>Settings for the Numbers Game</h3>
            <div class="faq-content">
                <p>The following settings can be adapted in the definition of the Numbers Game.</p>
                <ul>
                    <li>
                        <strong>Lower and Upper bounds:</strong> The minimum and maximum values that can be submitted.
                        The values are 0 and 100 by default.
                    </li>
                    <li>
                        <strong>Factor:</strong> The multiplier applied to the average submitted number when determining
                        the winning answers. The winning answers are the answers that are the closest to the average
                        submitted number multiplied by this factor. The default value is 2/3.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="iterated-prisoners-game">
        <h2>Iterated Prisoner's Dilemma Tournament</h2>

        <p>
            The Prisoner's Dilemma is the classical two-player game in which each player must choose between two actions
            (cooperate and defect). The payoff matrix is as follows.
        </p>

        <table class="center-margin payoff-matrix">
            <tbody>
                <tr>
                    <td></td>
                    <td class="payoff-player-header payoff-player-2">Cooperate</td>
                    <td class="payoff-player-header payoff-player-2">Defect</td>
                </tr>
                <tr>
                    <td class="payoff-player-header payoff-player-1">Cooperate</td>
                    <td><span class="payoff-player-1">-10</span>, <span class="payoff-player-2">-10</span></td>
                    <td><span class="payoff-player-1">-25</span>, <span class="payoff-player-2">0</span></td>
                </tr>
                <tr>
                    <td class="payoff-player-header payoff-player-1">Defect</td>
                    <td><span class="payoff-player-1">0</span>, <span class="payoff-player-2">-25</span></td>
                    <td><span class="payoff-player-1">-20</span>, <span class="payoff-player-2">-20</span></td>
                </tr>
            </tbody>
        </table>

        <p>
            In its iterated version, the two players repeatedly play the game for a fixed number of rounds, their final
            gains/losses being the average of their gains/losses for each individual instance of the game.
        </p>

        <p>
            In the game academy, a round-robin tournament is organise between all the players: every player competes
            against every other player. The total score of a player is their average score.
        </p>

        <div class="faq-wrap">
            <h3>Settings for the Iterated Prisoner's Dilemma Tournament</h3>
            <div class="faq-content">
                <p>The following settings can be adapted in the definition of the Iterated Prisoner's Dilemma Tournament.</p>
                <ul>
                    <li>
                        <strong>The Payoff Matrix:</strong> Each entry of the payoff matrix is customisable.
                        The default is as displayed above.
                    </li>
                    <li>
                        <strong>The Number of Rounds:</strong> The number of times the game is iterated. Several numbers
                        can be specified. In that case, each answer will play against every other answer for all specified
                        number of rounds.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="centipede-game">
        <h2>Centipede Game</h2>
        <p>
            The Centipede Game is a classic example of an extensive game in which two players take turns to decide
            whether to pursue the game further or whether to stop.
            The game looks like this:
        </p>
        <p class="center-align">
            <svg width="800" height="200">
                <defs>
                    <marker markerWidth="10" markerHeight="10" refX="2.5" refY="2.5" viewBox="0 0 5 5" orient="auto" id="default-arrow-head">
                        <polygon points="0,5 1.6666666666666667,2.5 0,0 5,2.5" fill="black"></polygon>
                    </marker>
                    <marker markerWidth="10" markerHeight="10" refX="2.5" refY="2.5" viewBox="0 0 5 5" orient="auto" id="unselected-arrow-head">
                        <polygon points="0,5 1.6666666666666667,2.5 0,0 5,2.5" fill="var(--color-unselected)"></polygon>
                    </marker>
                    <marker markerWidth="5" markerHeight="5" refX="2.5" refY="2.5" viewBox="0 0 5 5" orient="auto" id="selected-p1-arrow-head">
                        <polygon points="0,5 1.6666666666666667,2.5 0,0 5,2.5" fill="var(--color-player1)"></polygon>
                    </marker>
                    <marker markerWidth="5" markerHeight="5" refX="2.5" refY="2.5" viewBox="0 0 5 5" orient="auto" id="selected-p2-arrow-head">
                        <polygon points="0,5 1.6666666666666667,2.5 0,0 5,2.5" fill="var(--color-player2)"></polygon>
                    </marker>
                </defs>

                <text x="50" y="30" alignment-baseline="middle" text-anchor="middle" class="centi-player-turn centi-player-1">1</text>
                <line x1="80" y1="20" x2="170" y2="20" {% if centi_answer and centi_answer.strategy_as_p1|first == 'R' %}{% include "centipedegame_include/centipede_svg_p1_arrows_args.html"%}{% else %}{% include "centipedegame_include/centipede_svg_default_arrows_args.html"%}{% endif %} />
                <line x1="50" y1="50" x2="50" y2="140" {% if centi_answer and centi_answer.strategy_as_p1|first == 'D' %}{% include "centipedegame_include/centipede_svg_p1_arrows_args.html"%}{% else %}{% include "centipedegame_include/centipede_svg_default_arrows_args.html"%}{% endif %} />
                <text x="50" y="180" alignment-baseline="middle" text-anchor="middle" class="centi-player-1"><tspan fill="black">(</tspan><tspan class="centi-player-1">10</tspan><tspan fill="black">, </tspan><tspan class="centi-player-2">10</tspan><tspan fill="black">)</tspan></text>


                <text x="200" y="30" alignment-baseline="middle" text-anchor="middle" class="centi-player-turn centi-player-2">2</text>
                <line x1="230" y1="20" x2="310" y2="20" {% if centi_answer and centi_answer.strategy_as_p2|first == 'R' %}{% include "centipedegame_include/centipede_svg_p2_arrows_args.html"%}{% else %}{% include "centipedegame_include/centipede_svg_default_arrows_args.html"%}{% endif %} />
                <line x1="200" y1="50" x2="200" y2="140" {% if centi_answer and centi_answer.strategy_as_p2|first == 'D' %}{% include "centipedegame_include/centipede_svg_p2_arrows_args.html"%}{% else %}{% include "centipedegame_include/centipede_svg_default_arrows_args.html"%}{% endif %} />
                <text x="200" y="180" alignment-baseline="middle" text-anchor="middle" class="centi-player-1"><tspan fill="black">(</tspan><tspan class="centi-player-1">0</tspan><tspan fill="black">, </tspan><tspan class="centi-player-2">40</tspan><tspan fill="black">)</tspan></text>

                <text x="350" y="30" alignment-baseline="middle" text-anchor="middle" class="centi-player-turn centi-player-1">1</text>
                <line x1="380" y1="20" x2="470" y2="20" {% if centi_answer and centi_answer.strategy_as_p1|last == 't' %}{% include "centipedegame_include/centipede_svg_p1_arrows_args.html"%}{% else %}{% include "centipedegame_include/centipede_svg_default_arrows_args.html"%}{% endif %} />
                <line x1="350" y1="50" x2="350" y2="140" {% if centi_answer and centi_answer.strategy_as_p1|last == 'n' %}{% include "centipedegame_include/centipede_svg_p1_arrows_args.html"%}{% else %}{% include "centipedegame_include/centipede_svg_default_arrows_args.html"%}{% endif %} />
                <text x="350" y="180" alignment-baseline="middle" text-anchor="middle" class="centi-player-1"><tspan fill="black">(</tspan><tspan class="centi-player-1">30</tspan><tspan fill="black">, </tspan><tspan class="centi-player-2">30</tspan><tspan fill="black">)</tspan></text>

                <text x="500" y="30" alignment-baseline="middle" text-anchor="middle" class="centi-player-turn centi-player-2">2</text>
                <line x1="530" y1="20" x2="610" y2="20" {% if centi_answer and centi_answer.strategy_as_p2|last == 't' %}{% include "centipedegame_include/centipede_svg_p2_arrows_args.html"%}{% else %}{% include "centipedegame_include/centipede_svg_default_arrows_args.html"%}{% endif %} />
                <line x1="500" y1="50" x2="500" y2="140" {% if centi_answer and centi_answer.strategy_as_p2|last == 'n' %}{% include "centipedegame_include/centipede_svg_p2_arrows_args.html"%}{% else %}{% include "centipedegame_include/centipede_svg_default_arrows_args.html"%}{% endif %} />
                <text x="500" y="180" alignment-baseline="middle" text-anchor="middle" class="centi-player-1"><tspan fill="black">(</tspan><tspan class="centi-player-1">20</tspan><tspan fill="black">, </tspan><tspan class="centi-player-2">60</tspan><tspan fill="black">)</tspan></text>

                <text x="640" y="27" alignment-baseline="middle" text-anchor="left" class="centi-player-1"><tspan fill="black">(</tspan><tspan class="centi-player-1">50</tspan><tspan fill="black">, </tspan><tspan class="centi-player-2">50</tspan><tspan fill="black">)</tspan></text>
            </svg>
        </p>

        <div class="faq-wrap">
            <h3>Settings for the Centipede Game</h3>
            <div class="faq-content">
                <p>The following settings can be adapted in the definition of the Centipede Game.</p>
                <ul>
                    <li>
                        <strong>The payoffs:</strong> All payoffs in the picture above can be modified. The default is as
                        above.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="simplified-poker">
        <h2>Simplified Poker</h2>
        <p>
            The Simplified Poker game is a severely simplified version of Poker. There are two players and three
            cards: King, Queen, and Jack of Hearts. Each player is dealt one card and pays $1 to participate.
            The standard rules of Poker then apply: players can either bet a further $1 or fold; if both players bet
            the one with the higher card wins. Players need to submit a mixed strategy for this game, both for the
            situation where they are the first to play and the one where they go second.
        </p>

        <p>
            There are no specific settings to customise this game.
        </p>
    </section>


    <section id="auction-game">
        <h2>Auction Game</h2>
        <p>
            The Auction Game simulates a first-price sealed bid auction. Each player is assigned a valuation for the
            item on auction—sampled from a given probability distribution. Players then are asked to submit a bid for
            the item. The player with the highest bid wins the auction, unless someone bids higher than their assigned
            valuation, in which case there is no winner.
        </p>

        <p>It is possible to run several auctions, the players being randomly assigned to one of them.</p>

        <div class="faq-wrap">
            <h3>Settings for the Auction Game</h3>
            <div class="faq-content">
                <p>The following settings can be adapted in the definition of the Auction Game.</p>
                <ul>
                    <li>
                        <strong>Number of auctions:</strong> The number of auctions run. The default value is 5.
                    </li>
                    <li>
                        <strong>Valuation sampler:</strong> The method used to sample the valuation of the players.
                        It can be constant, uniform or binomial.
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <section id="good-bad-game">
        <h2>Good or Bad Game</h2>
        <p>
            In the Good or Bad Game, players are presented with a list of questions.
            For each question, several possible answers are proposed and the
            goal is to identify the correct one. The questions can be text-based,
            but also image-based.
        </p>

        <div class="faq-wrap">
            <h3>Settings for the Good or Bad Game</h3>
            <div class="faq-content">
                <p>The following settings can be adapted in the definition of the Good or Bad Game.</p>
                <ul>
                    <li>
                        <strong>Questions:</strong> The set of question that is available in the game. These questions
                        can be either COMSOC riddle or logos. COMSOC riddles are short questions about the field of
                        computational social choice. Logo questions are image-based and the user is asked to retrieve
                        the correct logo for a company.
                    </li>
                    <li>
                        <strong>Number of displayed questions:</strong> With this parameter, you can set how many
                        questions do the players have to provide an answer for. The questions will be selected uniformly
                        at random from the ser of available questions.
                    </li>
                </ul>
            </div>
        </div>
    </section>


{% endblock %}
