<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head_base_content.html' %}
    <title>{% block title %}Game Server{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>

<body id="plain-page">

<h1>Leaving your session</h1>

<p class="center-align">
    Your account is limited to the session {{ session.name }} and you are leaving its scope. Before continuing you
    need to log out.
</p>

<div class="side-by-side-centered-wrapper">
    <div>
        <form action="{% url 'core:force_player_logout' session.url_tag %}" method="post">
            {% csrf_token %}
        <button type="submit" class="button color-error-dark" name="logout_and_continue">Logout and Continue</button>
    </form>
    </div>
    <div>
        <a href="{{ url_back|urlencode }}" class="button color-success-dark">Get Back to Session</a>
    </div>
</div>

</body>