{% extends 'core/base.html' %}

{% block title %}Welcome to Game Server{% endblock %}

{% block header %}
    <h1>Welcome to the Game Server</h1>
    <p>Learn while playing, and play while learning!</p>
{% endblock %}

{% block content %}

    <section>
        <h2>The Game Server</h2>
        <p>
            Welcome to the Game Server! This platform allows anyone to organize game sessions in which anyone can play
            games inspired from game theory to learn while playing, and to play while learning.
        </p>
    </section>

    <section>
        <h2>Get Started</h2>
        <p>Ready to play? Find your session!</p>
        <form action="{% url 'core:index' %}" method="post">
            {% include "include/form_top_template.html" with form=session_finder_form form_type='session_finder' submit_button_label='Go to session' %}

            <table class="center-margin session-finder">
                {% if session_finder_form.session_name.errors %}
                    {% for error in session_finder_form.session_name.errors %}
                        <tr class="form-error-row"><td colspan="2"><span class="form-error">{{ error }}</span></td></tr><br>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td>{{ session_finder_form.session_name }}</td>
                    <td><input type="submit" name="session_finder" value="Go to session"></td>
                </tr>
            </table>
        </form>
    </section>

    {% if not request.user.is_authenticated %}
        <section>
            <h2>Register or Login</h2>

            <div class="side-by-side-centered-wrapper">
                <div>
                    <form action="{% url 'core:index' %}" method="post">
                        {% include "include/form_table_template.html" with form=login_form form_type='login_form' submit_button_label='Login' %}
                    </form>
                </div>

                <div>
                    {% if user_created %}
                        <p>User <em>{{ user.username }}</em> has been created. You can now log in.</p>
                    {% else %}
                        <form action="{% url 'core:index' %}" method="post">
                            {% include "include/form_table_template.html" with form=registration_form form_type='registration_form' submit_button_label='Register' %}
                        </form>
                    {% endif %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
