{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}{{ session.name }} &mdash; {{ game.name }} &mdash; Admin{% endblock %}

{% block header %}
    <h1>{{ session.long_name }} &mdash; {{ game.name }} &mdash; Admin</h1>
{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.url_tag %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block side_panel_extra_nav %}
    {% include 'include/sidepanel_nav_session.html' %}
{% endblock %}

{% block content %}
    <section>
        {% include "include/game_admin_navigation.html" %}
    </section>

    <section id="answers">
        <h2>Export Data</h2>
    </section>
{% endblock %}