{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}{{ session.name }} &mdash; Admin{% endblock %}

{% block header %}
    <h1>{{ session.long_name }} &mdash; Admin</h1>
{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.url_tag %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block side_panel_extra_nav %}
    {% include 'include/sidepanel_nav_session.html' %}
{% endblock %}

{% block content %}
    <section>
        {% include "include/session_admin_navigation.html" %}
    </section>

    <section id="export">
        <h2>Export Session</h2>

        <p>Use the following to export the details of the parameters of this session into a CSV file.</p>

        <p class="center-align">
            <a class="button process-button" href="{% url 'core:session_admin_export' session.url_tag %}">Export Parameters</a>
        </p>

        <p>You can also generate a ZIP archive of the whole session:</p>

        <p class="center-align">
            <a class="button process-button" href="{% url 'core:session_admin_export_full' session.url_tag %}">Export Full Session</a>
        </p>

        <p>
            <i>Note:</i> for sessions with many players and/or many games zipping everything may be
            too long to terminate. Try using the export function of each game.
        </p>
    </section>

    <section id="parameters">
        <h2>General Parameters</h2>
        <p>
            Here are the current values for the main parameters of session {{ session.long_name }}. If you modify them,
            don't forget to save your changes
        </p>

        {% if session_modified %}
            <div class="form-success-message">
                <p>The session has been updated successfully.</p>
            </div>
        {% endif %}

        {% if modify_session_form %}
            <form action="{% url 'core:session_admin' session.url_tag %}#parameters" method="post">
                {% include "include/form_table_template.html" with form=modify_session_form form_type='modify_session_form' submit_button_label='Modify Session' %}
            </form>
        {% endif %}
    </section>

    <section class="color-error-light">
        <h2>Danger Zone</h2>

        <p>Here you can delete the session.</p>

        {% if delete_session_form %}
            <form action="{% url 'core:session_admin' session.url_tag %}" method="post">
                {% include "include/form_table_template.html" with form=delete_session_form form_type='delete_session_form' submit_button_label='Delete Session' %}
            </form>
        {% endif %}
    </section>
{% endblock %}
