{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}{{ session.name }} &mdash; {{ game.name }} &mdash; Admin{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/filtered_collection.js' %}" defer></script>
{% endblock %}

{% block header %}
    <h1>{{ session.long_name }} &mdash; {{ game.name }} &mdash; Admin</h1>
{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.url_tag %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block side_panel_extra_nav %}
    {% include 'include/sidepanel_nav_session.html' %}
{% endblock %}

{% block content %}
    <section>
        {% include "include/game_admin_navigation.html" %}
    </section>

    {% if game.needs_teams or teams %}

        {% if not game.needs_teams %}
            <section class="warning-section">
                <p>
                    This game has teams but the parameters do not require players to play in teams.
                    This is inconsistent, you probably changed the settings after some teams had
                    already been created.
                </p>
            </section>
        {% endif %}

        <section id="export">
            <h2>Export Teams</h2>

            <p>Use the following to export the teams registered for this game into a CSV file.</p>

            <p class="center-align">
                <a class="button process-button" href="{% url 'core:session_admin_games_teams_export' session.url_tag game.url_tag %}">Export Teams</a>
            </p>
        </section>

        <section id="teams">
            <h2>Manage Teams for Game {{ game.name }}</h2>

            {% if deleted_team_id or all_teams_deleted%}
                <div class="form-success-message">
                    {% if deleted_team_id %}
                        <p>
                            The team {{ deleted_team_name }} (id was
                            {{ deleted_team_id }}) has been successfully deleted.
                        </p>
                    {% endif %}
                    {% if all_teams_deleted %}
                        <p>All the teams have been deleted.</p>
                    {% endif %}

                    {% if game.game_config.management_commands %}
                        <p>
                            In many cases, you may want to run the management commands after the deletion
                            of a team.
                        </p>
                        <p class="center-align" style="margin: 20px 0;">
                            {% with "core:"|add:game.game_config.url_tag|add:"_run_management" as url_name %}
                                <a class="button process-button" href="{% url url_name session.url_tag game.url_tag %}?next={{ request.path }}">
                                    Run management commands &nbsp;
                                    <span class="info-span" title="Management commands usually perform computations once all the answers have been submitted (determining the winner, preparing the graphs, etc...).">&#9432;</span>
                                </a>
                            {% endwith %}
                        </p>
                    {% endif %}
                </div>
            {% endif %}

            {% if teams %}
                <div class="filtered-collection-wrapper">
                    <div class="filtered-collection-filter">
                        <div class="side-by-side-pushed-wrapper" style="flex-wrap: nowrap;">
                            <input type="text" placeholder="Filter by team name...">
                            <span class="result-count"></span>
                        </div>
                    </div>
                    <div class="filtered-collection-content">
                        <table class="lined-table">
                            <tr>
                                <th>Name</th>
                                <th>Creator</th>
                                <th>Players</th>
                                <th></th>
                            </tr>
                            {% for team in teams %}
                                <tr class="filtered-collection-item" data-value="{{ answer.player  }}">
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.creator.name }}</td>
                                    <td>{% for player in team.players.all %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}{{ player.display_name}}{% endfor %}
                                    <td>
                                        <form action="{% url 'core:session_admin_games_teams' session.url_tag game.url_tag %}#teams" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="remove_team_id" value={{ team.id }} />
                                                <input class="color-error button" type="submit" value="Delete" name="delete_team_form" onclick="return confirm('Deleting a team is irreversible.')"/>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <form action="{% url 'core:session_admin_games_teams' session.url_tag game.url_tag %}#teams" method="post">
                    {% csrf_token %}
                    <p class="center-align" style="margin-top: 20px">
                        <input class="button color-error" type="submit" name="delete_all_teams_form" value="Delete All Teams" onclick="return confirm('Deleting all the teams is irreversible.')"/>
                    </p>
                </form>
            {% else %}
                <p>No teams have been created for this game yet.</p>
            {% endif %}
        </section>
    {% else %}
        <section>
            <h2>No Teams Allowed</h2>

            <p>This game does not allow for team submissions. You can change that in the settings.</p>
        </section>
    {% endif %}
{% endblock %}