{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}Session {{ session.name }} &mdash; Admin{% endblock %}

{% block extra_head %}
    <script src="{% static 'js/filtered_collection.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block header %}
    <h1>{{ session.long_name|title }} &mdash; Admin</h1>
{% endblock %}


{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.url_tag %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block content %}
    <section>
        {% include "include/session_admin_navigation.html" %}
    </section>

    <section id="add_player">
        <h2>Adding Players</h2>
            {% if new_player %}
                <div class="form-success-message">
                    <p>The player {{ new_player.name }} has been successfully added to the session.</p>
                </div>
            {% endif %}

        {% if add_player_form %}
            <form action="{% url 'core:session_admin_players' session.url_tag %}#add_player" method="post">
               {% include "include/form_table_template.html" with form=add_player_form form_type="add_player_form" submit_button_label='Add Player' %}
            </form>
        {% endif %}
    </section>

    <section id="admins">
        <h2>Admins</h2>

        {% if removed_admin %}
            <div class="form-success-message">
                The user {{ removed_admin.display_name }} is no longer an admin.
            </div>
        {% endif %}

        <div class="filtered-collection-wrapper">
            <div class="filtered-collection-filter">
            <div class="side-by-side-pushed-wrapper" style="flex-wrap: nowrap;">
                <input type="text" placeholder="Filter by username...">
                <span class="result-count"></span>
            </div>
            </div>
            <div class="filtered-collection-content">
                {% for super_admin in super_admins %}
                    <div class="filtered-collection-item" data-value="{{ super_admin.display_name }}">
                        <div class="side-by-side-pushed-wrapper">
                            <div>
                                <span>
                                    <i class="fas fa-crown"></i> {{ super_admin.display_name }}
                                    {% if super_admin.is_player %}<i class="fas fa-user"></i>{% endif %}
                                </span>
                            </div>
                            <div></div>
                        </div>
                    </div>
                {% endfor %}
                {% for admin in admins %}
                    <div class="filtered-collection-item" data-value="{{ admin.display_name }}">
                        <div class="side-by-side-pushed-wrapper">
                            <div>
                                <span>
                                    {{ admin.display_name }}
                                    {% if admin.is_player %}<i class="fas fa-user"></i>{% endif %}
                                </span>
                            </div>
                            <div>
                                {% if is_user_super_admin %}
                                    <td>
                                        <form action="{% url 'core:session_admin_players' session.url_tag %}#admins" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="remove_admin_id" value={{ admin.id }} />
                                            <input class="button warning-error" type="submit" name="remove_admin_form" value="Remove"/>
                                        </form>
                                    </td>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <p style="margin-bottom: 0;"><i class="fas fa-crown"></i> : super admin</p>
        <p><i class="fas fa-user"></i> : user limited to this session</p>

        {% if new_admin %}
            <div class="form-success-message">
                The user {{ new_admin.display_name }} is now an admin.
            </div>
        {% endif %}

        {% if make_admin_form %}
            <p style="margin-top: 20px">
                You are a super admin of this session, you thus have the ability to promote users as admins. Use the form
                below to do so.
            </p>
            <form action="{% url 'core:session_admin_players' session.url_tag %}#admins" method="post">
                {% include "include/form_table_template.html" with form=make_admin_form form_type='make_admin_form' submit_button_label='Make Admin' %}
            </form>
        {% endif %}
    </section>

    <section id="players">
        <h2>Players</h2>

        {% if deleted_player_name %}
            <div class="form-success-message">
                <p>The player {{ deleted_player_name }} has been successfully removed from the session.</p>
            </div>
        {% endif %}

        {% if password_updated_player_name %}
            <div class="form-success-message">
                <p>The password of player {{ password_updated_player_name }} has been successfully updated.</p>
            </div>
        {% endif %}

        {% if players %}
            <div class="filtered-collection-wrapper">
                <div class="filtered-collection-filter">
                    <div class="side-by-side-pushed-wrapper" style="flex-wrap: nowrap;">
                        <input type="text" placeholder="Filter by username...">
                        <span class="result-count"></span>
                    </div>
                </div>
                <div class="filtered-collection-content">
                    {% for player in players %}
                        <div class="filtered-collection-item" data-value="{{ player.name }}">
                            <div class="side-by-side-pushed-wrapper">
                                <div>
                                    <span>{{ player.name }}</span>
                                </div>
                                <div>
                                    <span class="button" style="margin-right: 20px">
                                        <a href="{% url "core:session_admin_player_password" session.url_tag player.name %}">Change Password</a>
                                    </span>
                                    <form action="{% url 'core:session_admin_players' session.url_tag %}#players" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="remove_player_id" value={{ player.id }} />
                                        <input class="button color-error" type="submit" name="delete_player_form" value="Delete Player" onclick="return confirm('Deleting a player is irreversible.')"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>No players registered yet.</p>
        {% endif %}
    </section>

    <section id="guests">
        <h2>Guests Users</h2>

        {% if session.need_registration %}
            <p>
                This session does not allow for guests to play. If you want to enable this, you can change the settings
                on <a href="{% url 'core:session_admin' session.url_tag %}">this page</a>.
            </p>
        {% else %}
            {% if deleted_guest_name %}
                <div class="form-success-message">
                    <p>The guest {{ deleted_guest_name }} has been successfully removed from the session.</p>
                </div>
            {% endif %}

            {% if guests %}
                <div class="filtered-collection-wrapper">
                    <div class="filtered-collection-filter">
                    <div class="side-by-side-pushed-wrapper" style="flex-wrap: nowrap;">
                        <input type="text" placeholder="Filter by guest name...">
                        <span class="result-count"></span>
                    </div>
                    </div>
                    <div class="filtered-collection-content">
                        {% for guest in guests %}
                            <div class="filtered-collection-item" data-value="{{ guest.name }}">
                                <div class="side-by-side-pushed-wrapper">
                                    <div>
                                        <span>{{ guest.name }}</span>
                                    </div>
                                    <div>
                                        <form action="{% url 'core:session_admin_players' session.url_tag %}#guests" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name='remove_player_id' value={{ guest.id }} />
                                        <input class="button color-error" type="submit" name="delete_guest_form" value="Delete Guest" onclick="return confirm('Deleting a guest is irreversible.')"/>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>There are no guest users yet.</p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}