{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}Session {{ session.name }}{% endblock %}

{% block header %}
    <h1>{{ session.long_name|title }}</h1>
{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.url_tag %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block side_panel_extra_nav %}
    {% include 'include/sidepanel_nav_session.html' %}
{% endblock %}

{% block content %}
    {% if not session.visible %}
        <section class="warning-section">
            <p>This session is not visible, you are only seeing this page because you are an administrator of the session!</p>
        </section>
    {% endif %}

    <section>
        <p>
            The games that are available can be accessed below. For each game, you will find a way to submit your
            answer as well as the results of the game. Once a game will have been played, you will be able to see the
            (anonymised) answers that were given by the other players.
        </p>

        {% if games %}
            <div class="grid2-wrapper game-grid">
                {% for game in games %}
                    <div class="grid-item">
                        <div class="grid-item-title">
                            <h3 id="games_{{ game.name }}">
                                {{ game.game_config.long_name }} - {{ game.name }}
                            </h3>
                        </div>
                        <div class="grid-item-content">
                            {% if game.description %}
                                <p>{{ game.description }}</p>
                            {% endif %}

                            {% with game.game_config.url_namespace|add:':index' as index_url_shortcut %}
                                <p class="center-align">
                                    <span>
                                        <a class="button navigation-button" href="{% url index_url_shortcut session.url_tag game.url_tag %}">To the game</a>
                                    </span>
                                </p>
                            {% endwith %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No games are currently available.</p>
        {% endif %}
    </section>

    {% if invisible_games %}
        <section class="warning-section">
            <p>
                These games are not visible to the players. You can see them since you are
                logged in as an admin.
            </p>
            <div class="grid2-wrapper game-grid">
                {% for game in invisible_games %}
                    <div class="grid-item">
                        <div class="grid-item-title">
                            <h3 id="games_{{ game.name }}">
                                {{ game.game_config.long_name }} - {{ game.name }}
                            </h3>
                        </div>
                        <div class="grid-item-content">
                            {% if game.description %}
                                <p>{{ game.description }}</p>
                            {% endif %}

                            {% with game.game_config.url_namespace|add:':index' as index_url_shortcut %}
                                <p class="center-align">
                                    <span>
                                        <a class="button navigation-button" href="{% url index_url_shortcut session.url_tag game.url_tag %}">To the game</a>
                                    </span>
                                </p>
                            {% endwith %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endblock %}
