{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}Session {{ session.name }} &mdash; Admin{% endblock %}

{% block header %}
    <h1>{{ session.long_name|title }} &mdash; Admin</h1>
{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.slug_name %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block content %}
    <section>
        <p>
            Logged-in as <em>{{ request.user.display_name }}</em>.
        </p>

        <p>
            This is the admin page for the session {{ session.long_name }}. You will find here all the tools to manage
            your session. We provide below some links to the different sections of this page.
        </p>

        <h2 id="games">Games</h2>

        <p>If you want to add new games to the session, fill in this form:</p>

        {% if new_game %}
            <div class="form-success-message">
                <p>The game {{ new_game.name }} has been added to the session.</p>
            </div>
        {% endif %}

        {% if create_game_form %}
            <form action="{% url 'core:session_admin_games' session.slug_name %}" method="post">
                {% include "include/form_table_template.html" with form=create_game_form form_type='create_game_form' submit_button_label='Create Game' %}
            </form>
        {% endif %}

        {% if modify_game_forms %}
            <p>Here are the games that have been created for this session. You can modify them below.</p>
        {% else %}
            <p>There are no games in this session for now.</p>
        {% endif %}

        {% if deleted_game_name %}
            <div class="form-success-message">
                <p>The game {{ deleted_game_name }} has been successfully deleted.</p>
            </div>
        {% endif %}

        {% for modify_game_form in modify_game_forms %}
            <h3 id="games_{{ modify_game_form.game.name }}">{{ modify_game_form.game.game_setting.long_name }} - {{ modify_game_form.game.name }}</h3>
            {% if modified_game_name and modify_game_form == modified_game_form %}
                <div class="form-success-message">
                    <p>The game {{ modified_game_name }} has been successfully modified.</p>
                </div>
            {% endif %}

            <form action="{% url 'core:session_admin_games' session.slug_name %}" method="post">
                {% with 'modify_game_form_'|add:modify_game_form.game.url_tag as form_type %}
                    {% include "include/form_table_template.html" with form=modify_game_form form_type=form_type submit_button_label='Modify Game' %}
                {% endwith %}
            </form>
            <form action="{% url 'core:session_admin_games' session.slug_name %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="remove_game_id" value={{ modify_game_form.game.id }} />
                <input type='hidden' name='form_type' value='delete_game_form'>
                <p class="center-align">
                    <input class="button" type="submit" value="Delete Game" onclick="return confirm('Deleting a game is irreversible.')"/>
                </p>
            </form>
        {% endfor %}
    </section>
{% endblock %}
