{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}Session {{ session.name }} &mdash; Admin{% endblock %}

{% block header %}
    <h1>{{ session.long_name|title }} &mdash; Admin</h1>
{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.slug_name %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block content %}
    <section>
        <p>
            Logged-in as <em>{{ request.user.display_name }}</em>.
        </p>

        <p>
            This is the admin page for the session {{ session.long_name }}. You will find here all the tools to manage
            your session. We provide below some links to the different sections of this page.
        </p>

        <ul>
            <li><a href="{% url 'core:session_admin_players' session.slug_name %}">The users related to this session</a></li>
            <li><a href="{% url 'core:session_admin_games' session.slug_name %}">The games of the session</a></li>
        </ul>
    </section>
    <section>
        <h2>General Parameters</h2>
        <p>
            Here are the current values for the main parameters of session {{ session.long_name }}. If you modify them,
            don't forget to save your changes
        </p>

        {% if session_modified %}
            <div class="form-success-message">
                <p>The session has been updated successfully.</p>
            </div>
        {% endif %}

        {% if modify_session_form %}
            <form action="{% url 'core:session_admin' session.slug_name %}" method="post">
                {% include "include/form_table_template.html" with form=modify_session_form form_type='modify_session_form' submit_button_label='Modify Session' %}
            </form>
        {% endif %}
    </section>

    <section>
    <h2>Danger Zone</h2>

    <p>Here you can delete the session.</p>
    </section>
{% endblock %}
