{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}Session {{ session.name }} &mdash; Admin{% endblock %}

{% block header %}
    <h1>{{ session.long_name|title }} &mdash; Admin</h1>
{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.slug_name %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block content %}
    <section>
        {% include "include/session_admin_navigation.html" %}
    </section>

    <section id="add_player">
        <h2>Adding Players</h2>
            {% if new_player %}
                <div class="form-success-message">
                    <p>The player {{ new_player.name }} has been successfully added to the session.</p>
                </div>
            {% endif %}

        {% if add_player_form %}
            <form action="{% url 'core:session_admin_players' session.slug_name %}#add_player" method="post">
               {% include "include/form_table_template.html" with form=add_player_form form_type="add_player_form" submit_button_label='Add Player' %}
            </form>
        {% endif %}
    </section>

    <section>
        <h2>Admins</h2>
        <table class="center-margin lined-table">
            <thead>
                <tr>
                    <th>(Django) Username</th>
                    <th>Is Super Admin?</th>
                </tr>
            </thead>
            <tbody>
                {% for super_admin in super_admins %}
                    <tr>
                        <td>{{ super_admin.username }}</td>
                        <td>&#10004;</td>
                    </tr>
                {% endfor %}
                {% for admin in admins %}
                    <tr>
                        <td>{{ admin.username }}</td>
                        <td>&#10008;</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section id="players">
        <h2>Players</h2>

        {% if deleted_player_name %}
            <div class="form-success-message">
                <p>The player {{ deleted_player_name }} has been successfully removed from the session.</p>
            </div>
        {% endif %}

        {% if password_updated_player_name %}
            <div class="form-success-message">
                <p>The password of player {{ password_updated_player_name }} has been successfully updated.</p>
            </div>
        {% endif %}

        {% if players %}
            <table class="center-margin lined-table">
                <tbody>
                    {% for player in players %}
                        <tr>
                            <td>{{ player.name }}</td>
                            <td>
                                <span class="button">
                                    <a href="{% url "core:session_admin_player_password" session.slug_name player.name %}">Change Password</a>
                                </span>
                            </td>
                            <td>
                                <form action="{% url 'core:session_admin_players' session.slug_name %}#players" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="remove_player_id" value={{ player.id }} />
                                    <input class="button color-error" type="submit" name="delete_player_form" value="Delete Player" onclick="return confirm('Deleting a player is irreversible.')"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No players registered yet.</p>
        {% endif %}
    </section>

    <section id="guests">
        <h2>Guests Users</h2>

        {% if session.need_registration %}
            <p>
                This session does not allow for guests to play. If you want to enable this, you can change the settings
                on <a href="{% url 'core:session_admin' session.slug_name %}">this page</a>.
            </p>
        {% else %}
            {% if deleted_guest_name %}
                <div class="form-success-message">
                    <p>The guest {{ deleted_guest_name }} has been successfully removed from the session.</p>
                </div>
            {% endif %}

            {% if guests %}
                <table class="center-margin lined-table">
                    <tbody>
                        {% for guest in guests %}
                            <tr>
                                <td>{{ guest.name }}</td>
                                <td>
                                    <form action="{% url 'core:session_admin_players' session.slug_name %}#guests" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name='remove_player_id' value={{ guest.id }} />
                                        <input class="button color-error" type="submit" name="delete_guest_form" value="Delete Guest" onclick="return confirm('Deleting a guest is irreversible.')"/>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>There are no guest users yet.</p>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}