{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}Session {{ session.name }} &mdash; Admin{% endblock %}

{% block header %}
    <h1>{{ session.long_name|title }} &mdash; Admin</h1>
{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.url_tag %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block content %}
    <section>
        {% include "include/session_admin_navigation.html" %}
    </section>

    <section id="add_game">
        <h2>Add a Game</h2>

        <p>If you want to add new games to the session, fill in this form:</p>

        {% if new_game %}
            <div class="form-success-message">
                <p>The game {{ new_game.name }} has been added to the session.</p>
            </div>
        {% endif %}

        {% if create_game_form %}
            <form action="{% url 'core:session_admin_games' session.url_tag %}#add_game" method="post">
                {% include "include/form_table_template.html" with form=create_game_form form_type='create_game_form' submit_button_label='Add Game' %}
            </form>
        {% endif %}
    </section>

    {% if modify_game_forms %}
        <section id="modify_games">
            <h2>Modify Games</h2>

            <p>Here are the games that have been created for this session. You can modify them below.</p>

            {% if deleted_game_name %}
                <div class="form-success-message">
                    <p>The game {{ deleted_game_name }} has been successfully deleted.</p>
                </div>
            {% endif %}

            {% if modify_game_forms %}
                <div class="grid2-wrapper game-grid">
                    {% for modify_game_form in modify_game_forms %}
                        <div class="grid-item" id="modify_{{ modify_game_form.game.id }}">
                            <div class="side-by-side-wrapper game-grid-title">
                                <div class="side-by-side-box">
                                    <h3 id="games_{{ modify_game_form.game.name }}">
                                        {{ modify_game_form.game.game_setting.long_name }} - {{ modify_game_form.game.name }}
                                    </h3>
                                </div>
                                <div class="side-by-side-box">
                                    <form action="{% url 'core:session_admin_games' session.url_tag %}#modify_games" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="remove_game_id" value={{ modify_game_form.game.id }} />
                                        <p class="center-align">
                                            <input class="color-error button" type="submit" value="Delete" name="delete_game_form" onclick="return confirm('Deleting a game is irreversible.')"/>
                                        </p>
                                    </form>
                                </div>
                            </div>

                            {% with modify_game_form.game.game_setting.package_url_namespace|add:':index' as index_url_shortcut %}
                                <p class="center-align">
                                    <span class="button">
                                        <a href="{% url index_url_shortcut session.url_tag modify_game_form.game.url_tag %}">To the game</a>
                                    </span>
                                </p>
                            {% endwith %}

                            {% if modified_game_name and modify_game_form == modified_game_form %}
                                <div class="form-success-message">
                                    <p>The game {{ modified_game_name }} has been successfully modified.</p>
                                </div>
                            {% endif %}

                            <form action="{% url 'core:session_admin_games' session.url_tag %}#modify_{{ modify_game_form.game.id }}" method="post">
                                {% with 'modify_game_form_'|add:modify_game_form.game.url_tag as form_type %}
                                    {% include "include/form_table_template.html" with form=modify_game_form form_type=form_type submit_button_label='Modify Game' %}
                                {% endwith %}
                            </form>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
    {% endif %}
{% endblock %}
