{% extends 'core/base.html' %}{% load static %}

{% load core_extras %}

{% block title %}{{ session.name }} &mdash; Admin{% endblock %}

{% block header %}
    <h1>{{ session.long_name }} &mdash; Admin</h1>
{% endblock %}

{% block logout_next %}?next={% if session.visible %}{% url 'core:session_portal' session.url_tag %}{% else %}{% url 'core:index' %}{% endif %}{% endblock %}

{% block side_panel_extra_nav %}
    {% include 'include/sidepanel_nav_session.html' %}
{% endblock %}

{% block content %}
    <section>
        {% include "include/session_admin_navigation.html" %}
    </section>

    <section id="add_game">
        <h2>Add a Game</h2>

        <p>If you want to add new games to the session, fill in this form:</p>

        {% if new_game %}
            <div class="form-success-message">
                <p>The game {{ new_game.name }} has been added to the session.</p>
                <div class="admin-nav-wrapper">
                    {% with new_game.game_config.url_namespace|add:':'|add:new_game.initial_view as index_url_shortcut %}
                        <a class="admin-nav-item button navigation-button" href="{% url index_url_shortcut session.url_tag new_game.url_tag %}">To the Game</a>
                    {% endwith %}
                    <a class="admin-nav-item button navigation-button color-warning-dark" href="{% url 'core:session_admin_games_settings' session.url_tag new_game.url_tag %}">To the Settings</a>
                </div>
            </div>
        {% endif %}

        {% if create_game_form %}
            <form action="{% url 'core:session_admin_games' session.url_tag %}#add_game" method="post">
                {% include "include/form_table_template.html" with form=create_game_form form_type='create_game_form' submit_button_label='Add Game' %}
            </form>
        {% endif %}
    </section>

    <section id="games">
        <h2>Games of the Session</h2>

        {% if deleted_game_name %}
            <div class="form-success-message">
                <p>The game {{ deleted_game_name }} has been successfully deleted.</p>
            </div>
        {% endif %}

        {% if games %}

            <table class="lined-table center-margin">
                <th>Game</th>
                <th>Type</th>
                {% for game in games %}
                    <tr>
                        <td>{{ game.name }}</td>
                        <td>{{ game.game_type }}</td>
                        <td>
                            {% with game.game_config.url_namespace|add:':'|add:game.initial_view as index_url_shortcut %}
                                <a class="button navigation-button" href="{% url index_url_shortcut session.url_tag game.url_tag %}">Game Home</a>
                            {% endwith %}
                        </td>
                        <td>
                            <a class="button navigation-button color-warning-dark" href="{% url 'core:session_admin_games_settings' session.url_tag game.url_tag %}">Admin Pages</a>
                        </td>
                        <td>
                            <form action="{% url 'core:session_admin_games' session.url_tag %}#games" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="remove_game_id" value={{ game.id }} />
                                <span class="center-align">
                                    <input class="color-error button" type="submit" value="Delete Game" name="delete_game_form" onclick="return confirm('Deleting a game is irreversible.')"/>
                                </span>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <p>There are no games yet in this session.</p>
        {% endif %}
    </section>
{% endblock %}
