{% load static %}
{% load core_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Team</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}"/>
</head>

<body>

<h1>Teams for {{ game.game_setting.long_name }} - Session {{ session.long_name }}</h1>

{% if request.user.is_authenticated %}
    {% if admin_user or player_user %}
        <div class="navigation">
            <span class="navigation-button">
                {% with game.game_setting.package_url_namespace|addstr:':index' as url_name %}
                    <a href="{% url url_name session.slug_name game.url_tag %}">&#8610;&nbsp;To game home</a>
                {% endwith %}
            </span>
        </div>

        {% if admin_user and not player %}
            <div class="warning-section">
                <p>
                    Because you are not logged in as a player, you can only see (part of) this page, but not create or join a team.
                </p>
            </div>
        {% endif %}

        {% if team_created %}
            <p>
                Your team {{ new_team.name }} has now been registered. You can start playing for the team.
                {% with game.game_setting.package_url_namespace|addstr:':index' as url_name %}
                    Go to the <a href="{% url url_name session.slug_name game.url_tag %}">game page</a>.
                {% endwith %}
            </p>
        {% else %}
            {% if team_joined %}
                <p>
                    You have joined the team {{ joined_team.name }}. You can now play for the team.
                    {% with game.game_setting.package_url_namespace|addstr:':index' as url_name %}
                        Go to the <a href="{% url url_name session.slug_name game.url_tag %}">game page</a>.
                    {% endwith %}
                </p>
            {% else %}
                {% if current_team %}
                    <p> You are already a member the team <em>{{ current_team.name }}</em>, this page is not for you!</p>
                {% else %}
                    <h2>Register a team</h2>

                    <p>
                        To register a team, just enter its name in the field below.
                        You will be automatically added to the team. Other players will then be able to join the team.
                    </p>

                    {% with 'core:team_'|addstr:game.game_setting.package_url_namespace as url_name %}
                        <form action="{% url url_name session.slug_name game.url_tag %}" method="post">
                    {% endwith %}
                        {% csrf_token %}
                        {% if create_team_form.non_field_errors %}
                            <ul class="errorlist">
                                {% for error in create_team_form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% for hidden_field in create_team_form.hidden_fields %}
                            {% if hidden_field.errors %}
                                <ul class="errorlist">
                                {% for error in hidden_field.errors %}
                                    <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {{ hidden_field }}
                        {% endfor %}

                        <table class="center-margin form-table">
                            {% for field in create_team_form.visible_fields %}
                                <tr>
                                    <td class="form-field-label">
                                        {{ field.label_tag }}
                                        {% if field.help_text %}
                                            <span class="info-span" title="{{ field.help_text }}">&#9432;</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ field }}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <br><span class="form-error">{{ error }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                        <input type='hidden' name='form_type' value='create_team_form'>
                        <p class="center-align">
                            <input class="green-button" type="submit" value="Create Team">
                        </p>
                    </form>

                    <h2>Join a team</h2>

                    {% if teams %}
                        <p>
                            If the team you want to be part of has already been created by another player, you can join
                            it here. Please do not join a team before having discussed it with its creator.
                        </p>

                        {% with 'core:team_'|addstr:game.game_setting.package_url_namespace as url_name %}
                            <form action="{% url url_name session.slug_name game.url_tag %}" method="post">
                        {% endwith %}
                            {% csrf_token %}
                            {% for team in teams %}
                                <input type="radio" name="join_team_input" value="{{ team.id }}" id="join_team_{{ team.id }}">
                                <label for="join_team_{{ team.id }}">{{ team.name }} - created by {{ team.creator.name }}</label><br>
                            {% endfor %}

                            <input type='hidden' name='form_type' value='join_team_form'>
                            <p class="center-align">
                                <input class="green-button" type="submit" value="Join Team">
                            </p>
                        </form>
                    {% else %}
                        <p>No team has been created yet.</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        <div class="navigation">
            <span class="navigation-button">
                {% with game.game_setting.package_url_namespace|addstr:':index' as url_name %}
                    <a href="{% url url_name session.slug_name game.url_tag %}">&#8610;&nbsp;To game home</a>
                {% endwith %}
            </span>
        </div>
    {% else %}
        <p>
            You are logged in to an account that does not have access to this session.
            Go back to the <a href="{% url 'core:index_session' session.slug_name %}">session index</a> to login to a
            different account.
        </p>
    {% endif %}
{% else %}
    <p>
        Only logged-in users with adequate permissions can view this page. You can log in on the
        <a href="{% url 'core:index_session' session.slug_name %}">session index page</a>.
    </p>
{% endif %}

</body>
</html>