.goodbad_play_form {
    display: flex;
    flex-direction: column;
}

.question_title {
    text-align: center;
	background: var(--color-background-dark);
	padding: 10px 0;
	border-radius: 10pt;
}

.question_title:not(:first-of-type) {
	margin-top: 20px;
}

.alternatives_wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 10px 20px;
}

.alternatives_wrap:last-of-type {
	margin-bottom: 30px;
}


.alternatives_wrap img {
    width: 200px;
	padding: 5px;
}

.alternative_label {
	text-align: center;
	padding: 20px 0;
	border-radius: 30pt;
	border: 3px solid var(--color-frame);
	flex-grow: 1;
}

.alternative_label p {
	margin: 0;
	padding: 0 20px;
}

.selected_alternative_label {
	background: var(--color-warning-light);
}

.question_label_wrong_answer {
	border: 3px solid var(--color-error-dark);
}

.question_label_correct_answer {
	border: 3px solid var(--color-success-dark);
}

.alternative_label div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.alternative_label img {
	vertical-align: middle;
}

.alternative_label p {
	margin: 0;
}

.alternatives_result_wrap {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	column-gap: 10px;
	row-gap: 20px;
}

.question_radio_input {
	position: absolute;
	opacity: 0;
	width: 0;
}

.graph_wrap {
	height: 300px;
}

.graph_result {
	text-align: center;
}
