<section class="warning-section">
    <p>
        You are logged in as an admin. You can access the
        <a href="{% url 'core:session_admin_games' session.url_tag %}#modify_{{ game.id }}">admin page</a>
        of the game.
    </p>
    {% if not game.playable or not game.results_visible %}
        <p>Hidden pages:</p>
        <ul>
            {% if not game.playable %}
                <li>
                    {% with game.game_config.url_namespace|add:":submit_answer" as url_name %}
                        <a href="{% url url_name session.url_tag game.url_tag %}">Answer page</a>
                    {% endwith %}
                </li>
            {% endif %}
            {% if not game.results_visible %}
                <li>
                    {% with game.game_config.url_namespace|add:":results" as url_name %}
                        <a href="{% url url_name session.url_tag game.url_tag %}">Results page</a>
                    {% endwith %}
                </li>
            {% endif %}
        </ul>
    {% endif %}

    <div class="side-by-side-centered-wrapper">
        {% with "core:"|add:game.game_config.url_tag|add:"_play_toggle" as url_name %}
            {% if game.playable %}
                <a class="button" href="{% url url_name session.url_tag game.url_tag %}">
                    Close the game
                    <span class="info-span" title="Players can currently submit their answers, closing the game will prevent them to do so.">&#9432;</span>
                </a>
            {% else %}
                <a class="button" href="{% url url_name session.url_tag game.url_tag %}">
                    Open the game
                    <span class="info-span" title="Players cannot submit their answers at the moment, opening the game will allow them to do so.">&#9432;</span>
                </a>
            {% endif %}
        {% endwith %}
        {% with "core:"|add:game.game_config.url_tag|add:"_result_toggle" as url_name %}
            {% if game.results_visible %}
                <a class="button" href="{% url url_name session.url_tag game.url_tag %}">
                    Hide the results
                    <span class="info-span" title="Players can access the result page, hiding it will prevent them from seeing the results of the game.">&#9432;</span>
                </a>
            {% else %}
                <a class="button" href="{% url url_name session.url_tag game.url_tag %}">
                    Reveal the results
                    <span class="info-span" title="Players cannot access the result page, revealing it will allow them to see the results of the game.">&#9432;</span>
                </a>
            {% endif %}
        {% endwith %}
        {% if game.game_config.management_commands %}
            {% with "core:"|add:game.game_config.url_tag|add:"_run_management" as url_name %}
                <a class="button" href="{% url url_name session.url_tag game.url_tag %}">
                    Run management commands
                    <span class="info-span" title="Management commands usually perform computations once all the answers have been submitted (determining the winner, preparing the graphs, etc...).">&#9432;</span>
                </a>
            {% endwith %}
        {% endif %}
    </div>
</section>