<p>
    You are in the admin pages of the game {{ game.name }} for session <em>{{ session.long_name }}</em>. Several pages are available depending on what you
    want to do.
</p>

<div class="admin-nav-wrapper">
    <div class="admin-nav-item">
        {% with game.game_config.url_namespace|add:':'|add:game.initial_view as index_url_shortcut %}
            <a class="button navigation-button" href="{% url index_url_shortcut session.url_tag game.url_tag %}">Game Home Page</a>
        {% endwith %}
    </div>
    <div class="admin-nav-item">
        <a class="button navigation-button color-warning-dark" href="{% url 'core:session_admin_games_settings' session.url_tag game.url_tag %}">Settings</a>
    </div>
    <div class="admin-nav-item">
        <a class="button navigation-button color-warning-dark" href="{% url 'core:session_admin_games_teams' session.url_tag game.url_tag %}">Teams</a>
    </div>
    <div class="admin-nav-item">
        <a class="button navigation-button color-warning-dark" href="{% url 'core:session_admin_games_answers' session.url_tag game.url_tag %}">Answers</a>
    </div>
    {% if game.game_config.management_commands %}
        {% with "core:"|add:game.game_config.url_tag|add:"_run_management" as url_name %}
            <div class="admin-nav-item">
                <a class="button process-button" href="{% url url_name session.url_tag game.url_tag %}?next={{ request.path }}">
                    Run management commands &nbsp;
                    <span class="info-span" title="Management commands usually perform computations once all the answers have been submitted (determining the winner, preparing the graphs, etc...).">&#9432;</span>
                </a>
            </div>
        {% endwith %}
    {% endif %}
</div>
