{% if user_administrated_sessions %}
    <h4>Administrated Sessions <span class="toggle-arrow">&#9660;</span></h4>

    <div class="nav-content">
        <ul>
            {% for session in user_administrated_sessions %}
                <li><a class="button navigation-button" href="{% url "core:session_portal" session.url_tag %}">{{ session.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% if user_player_sessions %}
    <h4>Playable Sessions <span class="toggle-arrow">&#9662;</span></h4>

    <div class="nav-content">
    <ul>
        {% for session in user_player_sessions %}
            <li><p><a class="button navigation-button" href="{% url "core:session_portal" session.url_tag %}">{{ session.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endif %}