{% if not user_is_only_player %}
    {% if user_administrated_sessions %}
        <h4>Administrated Sessions</h4>
            {% for session in user_administrated_sessions %}
                <p><a class="button navigation-button" href="{% url "core:session_portal" session.url_tag %}">{{ session.name }}</a></p>
            {% endfor %}
    {% endif %}
    {% if user_player_sessions %}
        <h4>Playable Sessions</h4>
        {% for session in user_player_sessions %}
            <p>
                <p><a class="button navigation-button" href="{% url "core:session_portal" session.url_tag %}">{{ session.name }}</a></p>
            </p>
        {% endfor %}
    {% endif %}
{% endif %}