<h4>Session {{ session.name }} <span class="toggle-arrow">&#9660;</span></h4>

<div class="nav-content">
    <ul>
        {% if user_is_session_admin %}
            <li><a class="button navigation-button" href="{% url 'core:session_portal' session.url_tag %}">Portal</a></li>
        {% endif %}
        <li><a class="button navigation-button" href="{% url 'core:session_home' session.url_tag %}">Home</a></li>
        {% if user_is_session_admin %}
            <li><a class="button navigation-button color-warning-dark" href="{% url "core:session_admin" session.url_tag %}">Admin pages</a></li>
        {% endif %}
    </ul>
</div>
