:root {
    --color-blue: #56a9d3;
    --color-pink: #de59c0;
    --color-yellow: #9bc55a;
	--color-player1: #A30000;
	--color-player2: #008C8C;
}

.lined-table .winning {
	background: var(--color-success);
}

.payoff-matrix {
	border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.payoff-matrix tr:first-of-type {
    border-top: 2px solid var(--color-frame);
}

.payoff-matrix tr:last-of-type {
    border-bottom: 2px solid var(--color-frame);
}

.payoff-matrix td {
    text-align: center;
	padding: 5px 10px;
}

.payoff-matrix tr td:first-child {
    text-align: right;
}

.payoff-player-header {
    font-weight: bold;
}

.payoff-player-1 {
    color: var(--color-player1);
}

.payoff-player-2 {
    color: var(--color-player2);
}

.automata-display {
}

.automata-text-display {
    max-height: 250px;
    overflow-y: auto;
    padding: 10px 20px;
    border: var(--color-frame) 1px solid;
	border-radius: 10px;
    background-color: var(--color-background-dark);
}

.automata-text-display > p {
    max-height: inherit;
    margin: 0;
}

.automata-display svg {
    display: block;
    margin: auto;
    border: var(--color-frame) 1px solid;
	border-radius: 10px;
}

.nodelabel {
    font-size: 15px;
}

.edge_C  {
    stroke: var(--color-blue);
}

.edgelabel_C {
    fill: var(--color-blue);
    font-size: 15px;
}

.node_shape_C {
    fill: var(--color-blue);
}

.edge_D {
    stroke: var(--color-pink);
}

.edgelabel_D {
    fill: var(--color-pink);
    font-size: 15px;
}

.node_shape_D {
    fill: var(--color-pink);
}

.edge_CD {
    stroke: var(--color-yellow);
}

.edgelabel_CD {
    fill: var(--color-yellow);
    font-size: 15px;
}

.node_shape_CD {
    fill: var(--color-yellow);
}

.edgehead{
    fill: var(--color-yellow);
    stroke: var(--color-yellow);
}
