{% extends 'core/base_game_index.html' %}

{% block game_rule_content %}
    <section>
        <h2>Rules of the Game</h2>
        <p>
            This is the main page for the game <em>{{ game.name }}</em>.
            In this game players submit a bid to win an auction. Their true valuation for the
            auction is drawn at random from a binomial probability distribution.
        </p>
    </section>
{% endblock %}

{% block game_answer_content %}
    {% if answer.bid %}
        <section>
            <h2>Answer</h2>
            <p>
                An answer is already linked to your account. You cannot play anymore.
            </p>
            <p>
                Your bid is <em>{{ answer.bid }}</em> for auction <em>{{ answer.auction_id }}</em>
                and your true valuation for the item is <em>{{ answer.auction_id|add:"10" }}</em>.
            </p>
        </section>
    {% endif %}
{% endblock %}