{% extends 'core/base_game_submit_answers.html' %}

{% block game_submit_answer_content %}
    <section>
        {% if submitted_answer %}
            <p>Your answer has been submitted, thanks!</p>

            <p>
                You will be redirected soon to the game page.
                If not, <a class="button navigation-button" href="{% url 'auction_game:index' session.url_tag game.url_tag %}">click here</a>!
            </p>

            <script>
                function redirect () {
                    window.location.href = "{% url 'auction_game:index' session.url_tag game.url_tag %}" ;
                }
                setTimeout(redirect, 3000);
            </script>
        {% else %}
            <p>
                Fill out the form below to submit your answer to the game <em>{{ game.name }}</em>.
            </p>

            <p>
                You have been assigned to <em>auction {{ answer.auction_id }}</em>.
                Your true valuation for the item is <em>{{ answer.auction_id|add:"10" }}</em>.
                Please choose how much you would like to bid and provide a couple of sentences explaining
                your choice.
            </p>

            <p>
                The "bid" field should be a rational number with a dot separator (with the
                <a href="https://docs.python.org/3/tutorial/floatingpoint.html" target="_blank"> limitations</a>
                of a Python float).
            </p>
                
            {% if submission_error %}
                    <section class="form-error-message">
                        <p>Your answer raised the following error. Contact the administrator to solve the problem.</p>

                        <p>{{ submission_error }}</p>
                    </section>
                {% endif %}

                {% if submit_answer_form %}
                    <form action="{% url 'auction_game:submit_answer' session.url_tag game.url_tag %}" method="post">
                        {% include "include/form_table_template.html" with form=submit_answer_form form_type="submit_answer" submit_button_label='Submit your Answer' %}
                    </form>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}