
.graph_wrap {
	height: 300px;
}

.lined-table .winning {
	background: var(--color-green-verylight);
}

h2.collapsible-div, h3.collapsible-div {
	background: var(--color-gray-verylight);
	text-align: center;
	padding: 5px;
	border: var(--color-gray) solid 1px;
}