
.graph_wrap {
	height: 300px;
}

.lined-table .winning {
	background: var(--color-green-verylight);
}

#histo_strat_container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

h2.collapsible-div {
	background: var(--color-gray-verylight);
	text-align: center;
	padding: 5px;
	border: var(--color-gray) solid 1px;
}