:root {
	--color-red:#C62828;
	--color-red-light:#E57373;
	--color-red-verylight:#FFCDD2;
	--color-red-dark:#B71C1C;

	--color-pink:#EC407A;
	--color-pink-light:#F48FB1;
	--color-pink-verylight:#F8BBD0;
	--color-pink-dark:#880E4F;

	--color-purple:#8E24AA;
	--color-purple-light:#BA68C8;
	--color-purple-verylight:#e5cefc;
	--color-purple-dark:#6A1B9A;

	--color-indigo:#3949AB;
	--color-indigo-light:#7986CB;
	--color-indigo-verylight:#9FA8DA;
	--color-indigo-dark:#1A237E;

	--color-blue:#1E88E5;
	--color-blue-light:#64B5F6;
	--color-blue-verylight:#B3E5FC;
	--color-blue-dark:#0D47A1;

	--color-cyan:#00BCD4;
	--color-cyan-light:#4DD0E1;
	--color-cyan-verylight:#80DEEA;
	--color-cyan-dark:#0097A7;

	--color-teal:#009688;
	--color-teal-light:#4DB6AC;
	--color-teal-verylight:#B2DFDB;
	--color-teal-dark:#00695C;

	--color-green:#39ac39;
	--color-green-light:#8cd98c;
	--color-green-verylight: #bde5bd;
	--color-green-dark:#339933;

	--color-grass:#689F38;
	--color-grass-light:#8BC34A;
	--color-grass-verylight:#AED581;
	--color-grass-dark:#33691E;

	--color-lime:#CDDC39;
	--color-lime-light:#DCE775;
	--color-lime-verylight:#E6EE9C;
	--color-lime-dark:#AFB42B;

	--color-yellow:#FFFF00;
	--color-yellow-light:#FFEE58;
	--color-yellow-verylight:#FFF59D;
	--color-yellow-dark:#FFD600;

	--color-orange: #FF8000;
	--color-orange-light: #ffa36c;
	--color-orange-verylight: #fcdfcc;
	--color-orange-dark: #ff6a00;
	--color-orange-verydark: #c44f00;

	--color-brown:#6D4C41;
	--color-brown-light:#795548;
	--color-brown-verylight:#BCAAA4;
	--color-brown-dark:#3E2723;

	--color-gray:#616161;
	--color-gray-light:#9E9E9E;
	--color-gray-verylight: #ececec;
	--color-gray-dark:#424242;

	--color-steel:#546E7A;
	--color-steel-light:#78909C;
	--color-steel-verylight:#B0BEC5;
	--color-steel-dark:#37474F;

	--frame-color:var(--color-gray-dark);
	--back-color:var(--color-gray-verylight);
	--title-color:var(--color-orange-dark)
}

/* =============
Main page layout
============= */

@media screen and (max-width: 1199px) {
    .largeScreen {
        display: none;
    }

    body {
        margin: 2%;
    }
}

@media screen and (min-width: 1200px) {
	.smallScreen {
		display: none;
	}

	body {
		margin: 2% 10%;
	}
}

html {
	margin: 0;
	background: var(--back-color);
	font-family: "Roboto Condensed", serif;
}

body {
	padding: 2%;
	background: white;
	border: 2px solid var(--frame-color);
}

.center-align {
	text-align: center;
}

.center-margin {
	margin-left: auto;
	margin-right: auto;
}

em {
	color: var(--color-orange);
}

.info-span {
	color: var(--color-gray);
	font-size: 60%;
	vertical-align: top;
}

.hr-separator {
	width: 100%;
	height: 2px;
	margin: 10px auto;
	background-color: var(--color-orange-dark);
	border: 0 none;
}

.warning-box {
	background: var(--color-orange-verylight);
	border: var(--color-orange-dark) solid 2px;
	border-radius: 10px;
	padding: 0 20px;
}

.navigation {
	line-height: 80%;
}

.navigation-button {
	font-size: 80%;
}

.lined-table {
	border-collapse: collapse;
}

.lined-table > tbody > tr > td, .lined-table > tbody > tr > th, .lined-table > thead > tr > td, .lined-table > thead > tr > th  {
	padding: 5px 10px;
	text-align: center;
}

.lined-table tr {
	border-top: var(--frame-color) solid 1px;
}

.lined-table tr:first-child {
	border-top: var(--color-orange-dark) solid 2px;
}

.lined-table tr:last-child {
	border-bottom: var(--color-orange-dark) solid 2px;
}

/* ===
Titles
=== */

h1 {
	text-align: center;
	color: var(--title-color);
	margin-top: 0;
	margin-bottom: 50px;
}

h1 a {
	text-decoration: none;
	color: var(--title-color);
}

h2 {
	text-align: left;
	color: var(--title-color);
}

h2 a {
	text-decoration: none;
	color: var(--title-color);
}

h3 {
	color: var(--title-color);
	text-align: left;
}

a {
	text-decoration: none;
	color: var(--color-orange);
}

/* ==
Forms
== */

.errorlist {
	color: var(--color-red-dark);
}

.form-error {
	font-size: 80%;
	color: var(--color-red-dark);
}

.form-success-message {
	background: var(--color-green-verylight);
	border: var(--color-green-dark) solid 2px;
	border-radius: 10px;
	padding: 0 20px;
}

.form-error-message {
	background: var(--color-red-verylight);
	border: var(--color-red-dark) solid 2px;
	border-radius: 10px;
	padding: 0 20px;
}

.help-text-forms {
	font-size: 50%;
}

.form-table {

}

.form-table .form-field-label {
	text-align: right;
	padding-right: 10px;
}

.green-button {
	background: var(--color-green-light);
	color: var(--color-gray);
	border-radius: 4px;
	border: none;
	box-shadow: 1px 1px 2px var(--color-green);
	padding: 4px;
	margin: 2px;
}

.green-button a {
	color: var(--color-gray);
}

.gray-button {
	background: var(--color-gray-light);
	color: white;
	border-radius: 4px;
	border: none;
	box-shadow: 1px 1px 2px var(--color-gray);
	padding: 4px;
	margin: 2px;
}

.gray-button a {
	color: white;
}

.orange-button {
	background: var(--color-orange-light);
	color: white;
	border-radius: 4px;
	border: none;
	box-shadow: 1px 1px 2px var(--color-orange);
	padding: 4px;
	margin: 2px;
}

.orange-button a {
	color: white;
}

.red-button {
	background: var(--color-red-light);
	color: white;
	border-radius: 4px;
	border: none;
	box-shadow: 1px 1px 2px var(--color-red);
	padding: 4px;
	margin: 2px;
}

.red-button a {
	color: white;
}

/* =======
Index page
======= */

.session-finder-main-field {
	width: 90%;
}

.session-finder-main-field input {
	width: 98%;
}


/* ===============
Session index page
=============== */

.session-login-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
