
form {
	display: flex;
}

input[type="text"] {
	width: 70%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #555;
}

em {
	color: var(--color-orange);
}

.info-span {
	color: var(--color-gray);
	font-size: 60%;
	vertical-align: top;
}

.hr-separator {
	width: 100%;
	height: 2px;
	margin: 10px auto;
	background-color: var(--color-orange-dark);
	border: 0 none;
}

.warning-section {
	background: var(--color-orange-verylight);
	border: var(--color-orange-dark) solid 2px;
	border-radius: 10px;
	padding: 0 20px;
}

.navigation {
	line-height: 80%;
	margin: 10px 0;
}

.navigation-button {
	font-size: 80%;
}

.lined-table {
	border-collapse: collapse;
}

.lined-table > tbody > tr > td, .lined-table > tbody > tr > th, .lined-table > thead > tr > td, .lined-table > thead > tr > th  {
	padding: 5px 10px;
	text-align: center;
}

.lined-table tr {
	border-top: var(--frame-color) solid 1px;
}

.lined-table tr:first-child {
	border-top: var(--color-orange-dark) solid 2px;
}

.lined-table tr:last-child {
	border-bottom: var(--color-orange-dark) solid 2px;
}

/* ==
Forms
== */

.errorlist {
	color: var(--color-red-dark);
}

.form-error {
	font-size: 80%;
	color: var(--color-red-dark);
}

.form-success-message {
	background: var(--color-green-verylight);
	border: var(--color-green-dark) solid 2px;
	border-radius: 10px;
	padding: 0 20px;
}

.form-error-message {
	background: var(--color-red-verylight);
	border: var(--color-red-dark) solid 2px;
	border-radius: 10px;
	padding: 0 20px;
}

.help-text-forms {
	font-size: 50%;
}

.form-table {

}

.form-table .form-field-label {
	text-align: right;
	padding-right: 10px;
}

.green-button {
	background: var(--color-green-light);
	color: var(--color-gray);
	border-radius: 4px;
	border: none;
	box-shadow: 1px 1px 2px var(--color-green);
	padding: 4px;
	margin: 2px;
}

.green-button a {
	color: var(--color-gray);
}

.gray-button {
	background: var(--color-gray-light);
	color: white;
	border-radius: 4px;
	border: none;
	box-shadow: 1px 1px 2px var(--color-gray);
	padding: 4px;
	margin: 2px;
}

.gray-button a {
	color: white;
}

.orange-button {
	background: var(--color-orange-light);
	color: white;
	border-radius: 4px;
	border: none;
	box-shadow: 1px 1px 2px var(--color-orange);
	padding: 4px;
	margin: 2px;
}

.orange-button a {
	color: white;
}

.red-button {
	background: var(--color-red-light);
	color: white;
	border-radius: 4px;
	border: none;
	box-shadow: 1px 1px 2px var(--color-red);
	padding: 4px;
	margin: 2px;
}

.red-button a {
	color: white;
}

/* =======
Index page
======= */

.session-finder-main-field {
	width: 90%;
}

.session-finder-main-field input {
	width: 98%;
}


/* ===============
Session index page
=============== */

.session-login-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
