@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap);

:root {
	--color-frame: #333;
	--color-background-light: white;
	--color-background-dark: #ececec;
	--color-success-light: #a4e8a1;
	--color-success: #8ace66;
	--color-success-dark: #468a1a;
	--color-warning-light: #ffc19c;
	--color-warning: #ffa36c;
	--color-warning-dark: #d75a0e;
	--color-error-light: #f59e9e;
	--color-error: #ff7474;
	--color-error-dark: #b93030;
	--color-navigation-button: #333;
	--color-process-button: #325181;
}

/*Mobile Devices (Portrait)*/
/*Breakpoint: max-width: 480px*/

/*Mobile Devices (Landscape)*/
/*Breakpoint: min-width: 481px and max-width: 767px*/

/*Tablets (Portrait)*/
/*Breakpoint: min-width: 768px and max-width: 991px*/

/*Tablets (Landscape)*/
/*Breakpoint: min-width: 992px and max-width: 1199px*/

/*Small Desktops*/
/*Breakpoint: min-width: 1200px and max-width: 1439px*/

/*Medium Desktops*/
/*Breakpoint: min-width: 1440px and max-width: 1679px*/

/*Large Desktops*/
/*Breakpoint: min-width: 1680px*/

/* =======
Font Sizes
======= */

html {
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

input {
	font-size: inherit;
}

/* =============
Main page layout
============= */

body {
	background-color: var(--color-background-dark);
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#plain-page {
	background-color: var(--color-frame);
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
	background-color: var(--color-frame);
	color: white;
	text-align: center;
	padding: 20px;
	min-height: 3vh;
	flex: 0 0 auto;
	box-sizing: border-box;
}

header p {
	margin: 0;
}

header h1 {
	margin: 0;
}

main {
	padding: 0;
	min-height: 70vh;
	flex: 1 0 auto;
	box-sizing: border-box;
	transition: 0.5s margin-left ease;
}

main section:first-child {
	margin-top: 0;
}

main section:last-child {
	margin-bottom: 0;
}

.full-main {
	margin: 40px;
}

.truncated-main {
	margin: 40px 40px 40px 20%;
	padding-left: 40px;
}

section {
	padding: 20px;
	margin: 20px 0;
	background-color: white;
	border: 1px solid var(--color-frame);
	border-radius: 5px;
}

.warning-section {
	background: var(--color-warning-light);
	border: var(--color-warning-dark) solid 2px;
}

footer {
	flex: 0 0 auto;
	background-color: var(--color-frame);
	color: white;
	text-align: center;
	padding: 5px 20px;
    width: 100%;
	box-sizing: border-box;
}

footer p {
	margin: 0;
}


h2 {
	margin: 0 0 20px;
}

p {
	margin: 0 0 20px;
}

.center-align {
	text-align: center;
}

.center-margin {
	margin-left: auto;
	margin-right: auto;
}

/* ============
Typical layouts
============ */

.side-by-side-centered-wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.side-by-side-pushed-wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.side-by-side-two-columns-wrapper {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: start;
	width: 100%;
	box-sizing: border-box;
	column-gap: 2%;
}

.side-by-side-two-columns-wrapper > div {
	width: 48%;
}

@media (max-width: 768px) {
    .side-by-side-two-columns-wrapper > div {
        width: 100%;
    }
}

.grid2-wrapper {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid2-wrapper > .grid-item:nth-child(2n-1):nth-last-of-type(1) {
	grid-column: span 2;
}

@media (max-width: 768px) {
    .grid2-wrapper {
        grid-template-columns: 1fr;
    }
}

.lined-table {
	border-collapse: collapse;
}

.lined-table > tbody > tr > td, .lined-table > tbody > tr > th, .lined-table > thead > tr > td, .lined-table > thead > tr > th  {
	padding: 5px 10px;
	text-align: center;
}

.lined-table tr {
	border-top: var(--color-frame) solid 1px;
}

.lined-table tr:first-child {
	border-top: var(--color-frame) solid 2px;
}

.lined-table tr:last-child {
	border-bottom: var(--color-frame) solid 2px;
}

.filtered-collection-wrapper {
	border: 4px solid var(--color-frame);
}

.filtered-collection-filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	border-bottom: 4px solid var(--color-frame);
	background-color: var(--color-frame);
}

.filtered-collection-filter input {
	padding: 8px;
	margin: 0;
	border: none;
	width: 100%;
	background-color: var(--color-background-dark);
}

.filtered-collection-filter span {
	color: white;
	white-space: pre;
	padding: 5px 15px;
}

.filtered-collection-content {
	display: flex;
	flex-direction: column;
	max-height: 600px;
	overflow-y: scroll;
}

.filtered-collection-item {
	padding: 15px 20px;
	border-bottom: 1px solid var(--color-frame);
	margin: 0;
}

.filtered-collection-item:last-child {
	padding: 10px 20px;
	border-bottom: none;
	margin-bottom: 0;
}

.filtered-collection-item form {
	display: inline-block;
}

.hr-separator {
	width: 100%;
	height: 2px;
	margin: 10px auto;
	background-color: var(--color-frame);
	border: 0 none;
}

.collapsible-div:after {
	content: '\00A0\25BE';
}

/* =======
Side panel
======= */

#side-panel {
    background-color: white;
	border-right: 1px solid var(--color-frame);
	border-top: 1px solid var(--color-frame);
	border-bottom: 1px solid var(--color-frame);
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
    width: 20%;
	max-height: 100%;
	box-sizing: border-box;
    position: fixed;
    left: 0;
    overflow-y: auto;
    z-index: 1;
    padding: 0;
}

#side-panel.hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.25s linear;
}

.side-panel-content {
	padding: 20px 0;
}

.side-panel-content p:first-child {
	margin-top: 0;
}

.side-panel-content p:last-child {
	margin-bottom: 0;
}

#side-panel .nav-content {
	margin-left: 20px;
}

#side-panel .nav-content .nav-content {
	border-left: 3px solid var(--color-frame);
	padding: 20px;
}

#side-panel .nav-content .nav-content ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#side-panel .nav-content .nav-content li:not(:last-child) {
	padding-bottom: 20px;
}

#side-panel h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin: 0;
	background: var(--color-frame);
	color: white;
	text-align: center;
	padding: 10px;
}

#side-panel h3 .logout-button {
	margin-left: auto;
}

#side-panel h3 .button{
	background: var(--color-frame);
	border: 1px solid var(--color-background-dark);
}

#side-panel h3 .button:hover {
	background: var(--color-background-dark);
	color: var(--color-frame);
}

#side-panel h4 {
    display: flex;
	background-color: var(--color-background-dark);
	border-top: 1px solid var(--color-frame);
	border-bottom: 1px solid var(--color-frame);
	border-left: 1px solid var(--color-frame);
	padding: 5px 10px 5px 10px;
	margin: 0;
}

#side-panel h4 .toggle-arrow {
	margin-left: auto;
}

/* ==
Forms
== */

.form-table {
	border-spacing: 0 10px;
	border-collapse: separate;
}

.form-table td {
	padding: 0;
}

.form-table .form-field-row td:first-child {
    text-align: right;
	padding: 0 10px 0 30px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid var(--color-background-dark);
	background: var(--color-background-dark);
}

.form-table .form-field-row td:first-child label {
	display: block;
	width: 100%;
}

.form-table .form-field-row td:nth-child(2) {
    text-align: left;
}

.form-table .form-field-row td:nth-child(2) input {
	box-sizing: border-box;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid var(--color-background-dark);
	width: 100%;
}

.form-table .form-field-row:last-child td {
    text-align: center;
	background: none;
	border: none;
}

.form-error-row td {
	background: none;
	font-size: 0.8em;
	color: var(--color-error-dark)
}

.form-error {
	color: var(--color-error-dark)
}

.form-success-message {
	background: var(--color-success-light);
	border: var(--color-success-dark) solid 2px;
	border-radius: 10px;
	padding: 10px 20px;
	margin-bottom: 10px;
}
.form-success-message p {
	margin: 0;
}

.form-error-message {
	background: var(--color-error-light);
	border: var(--color-error-dark) solid 2px;
	border-radius: 10px;
	padding: 0 20px;
	margin-bottom: 10px;
}

.button {
	background-color: var(--color-frame);
	color: white;
	border: none;
	padding: 5px 20px;
	border-radius: 25px;
	cursor: pointer;
	font-size: 0.8em;
	text-decoration: none;
}

.button a {
	text-decoration: none;
	color: inherit;
}

.navigation-button {
	background-color: var(--color-navigation-button);
}

.navigation-button:after {
	content: '\00A0\276F\276F';
	font-weight: bold;
	position: relative;
	bottom: -0.05em;
}

.process-button {
	background-color: var(--color-process-button);
}

.process-button:before {
	content:'\2699\00A0';
	font-size: large;
	font-weight: bold;
	position: relative;
	bottom: 0.1em;
}

/* =======
Index page
======= */

.session-finder {
	border-spacing:0;
	border-collapse: collapse;
}

.session-finder td {
	padding: 0;
}

.session-finder tr td:first-child {
	width: 80%;
}

.session-finder tr td:first-child input {
	width: 100%;
    box-sizing: border-box;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid var(--color-background-dark);
}

.session-finder tr td:nth-child(2) input {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid var(--color-success-light);
	background: var(--color-success-light);
}

/* ==============
   Game Grids
============== */

.game-grid > .grid-item {
	border: 1px solid var(--color-background-dark);
}

.game-grid > .grid-item .game-grid-title {
	background-color: var(--color-frame);
	color: white;
	margin: 0 0 10px;
	padding: 5px 10px;
}

.game-grid > .grid-item .game-grid-title h3 {
	margin: 0;
	text-align: left;
}

.game-grid > .grid-item .game-grid-title p {
	margin: 0;
	text-align: right;
}

@media (max-width: 1400px) {
    .game-grid {
        grid-template-columns: 1fr;
    }
}

/* =================
   Session Admin
================= */

.admin-nav-wrapper {
	display: flex;
	justify-content: center;
	gap: 5%;
	width: 100%;
}

.admin-nav-item {

}

/* =========
   Colors
==========*/

.color-frame {
    background-color: var(--color-frame);
}

.color-background-light {
    background-color: var(--color-background-light);
}

.color-background-dark {
    background-color: var(--color-background-dark);
}

.color-success-light {
    background-color: var(--color-success-light);
}

.color-success {
    background-color: var(--color-success);
}

.color-success-dark {
    background-color: var(--color-success-dark);
}

.color-warning-light {
    background-color: var(--color-warning-light);
}

.color-warning {
    background-color: var(--color-warning);
}

.color-warning-dark {
    background-color: var(--color-warning-dark);
}

.color-error-light {
    background-color: var(--color-error-light);
}

.color-error {
    background-color: var(--color-error);
}

.color-error-dark {
    background-color: var(--color-error-dark);
}